.a-game-over {
  &__gallery {
    display: flex;
    overflow-y: auto;
    max-width: 94vw;
  }

  &__gallery-item {
    margin: get-unit(3 2);
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__gallery-canvas {
    background: white;
    border: 2px solid get-color(brown);
    border-radius: get-unit(1);
  }

  &__credits {
    font-style: italic;
  }
}

.a-drawing-grade {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);

  &--A {
    background: get-color(green);
  }

  &--B {
    background: get-color(yellow);
  }

  &--C {
    background: get-color(orange);
  }

  &--D {
    background: get-color(pink);
  }

  &--F {
    background: get-color(red);
  }
}
