@use "styles/sass" as *;

.background {
  background: linear-gradient(-45deg, #272a36, #4c525c, #121529);
  background-size: 1000% 1000%;
}

.warehouse {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: get-unit(3);
  background: get-color("black", 5);
  place-items: center;
  padding: get-unit(3);
  border-radius: var(--border-radius);
  color: get-color("black", 1);

  &__empty-shelf {
    background: get-color("black", 5);
    border: 1px dashed get-color("black", 1);
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
  }

  &__empty-available-shelf {
    background: get-color("black", 4);
    color: get-color("white");
    font-size: 1.25rem;
    position: relative;
  }

  &__selected-good {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    filter: drop-shadow(0 0 5px get-color("yellow"));
    z-index: 1;
  }

  &__empty-shelf-button {
    background: get-color("black", 1);
    display: grid;
    place-items: center;
    border: get-unit(1) outset get-color("brown", 7);
    color: get-color("white");
    cursor: pointer;
    font-size: 1.25rem;
    width: 100%;
    height: 100%;

    &:hover {
      background: get-color("brown", 7);
    }
  }

  &__shelf {
    background: get-color("black", 5);
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    color: get-color("white");
  }

  &__shelf-active {
    border: 3px solid get-color("pink", 3);
    border-radius: var(--border-radius);
  }

  &__shelf-fulfilled {
    position: relative;
  }

  &__placed-order {
    rotate: 10deg;
    opacity: 0.95;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    outline: get-unit(1) solid get-color("yellow");
  }

  &__good {
    &--0 {
      rotate: 0deg;
    }
    &--90 {
      transform-origin: 50% 50%;
      rotate: 90deg;
    }
    &--180 {
      transform-origin: 50% 50%;
      rotate: 180deg;
    }
    &--270 {
      transform-origin: 50% 50%;
      rotate: 270deg;
    }
  }
}

.warehouse-good {
  &--TINTED_GLASS {
    filter: blur(5px);
  }

  &--EYE_EXAM {
    filter: blur(12px);
  }

  // &--BLIND_BOX {
  //   filter: blur(20px) grayscale(100%);
  // }
}

.c-stocking-progress {
  display: grid;
  gap: get-unit(2);
  grid-template-columns: repeat(3, 1fr);
}
