@use "styles/sass" as *;

.u-word-selection-phase {
  &__guesser-name-announcement {
    padding: get-unit(0 2);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

.u-word-card {
  background-color: get-color("white");
  font-size: 1.5em;
  min-width: 200px;
  width: 250px;
  border-radius: var(--border-radius);
  padding: get-unit(1 3);
  margin: get-unit(2);
  @include box-shadow;

  &__word {
    display: flex;
    margin: get-unit(2 0);
    border: get-unit(1) solid;
    border-radius: var(--border-radius);

    &:nth-child(1) {
      border-color: get-color("pink");
    }

    &:nth-child(2) {
      border-color: get-color("blue", 4);
    }

    &:nth-child(3) {
      border-color: get-color("orange", 4);
    }

    &:nth-child(4) {
      border-color: get-color("teal", 4);
    }

    &:nth-child(5) {
      border-color: get-color("purple");
    }
  }

  &__button {
    width: 100%;
    border: none;
    background-color: 0;
    display: flex;
    padding-left: 1.5em;
    cursor: pointer;

    &:hover {
      background-color: get-color("green", 3);
    }
  }

  &__text {
    flex-grow: 1;
  }

  &__icon {
    min-width: 1.5em;
    color: get-color("green");
  }
}

.u-word-suggestion-step {
  &__inputs {
    display: flex;
    margin-bottom: get-unit(12);
  }

  &__input {
    text-transform: uppercase;
    text-align: center;
  }

  &__submit {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.u-word-compare-suggestions-step {
  &__suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: get-unit(10);
  }

  &__suggestion-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 250ms;
    &:hover {
      transform: scale(1.1);
    }

    & > .card {
      margin: 0;
    }
  }
}

.u-word-guess-phase {
  &__suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: get-unit(1 2 5);
  }

  &__guess-submit {
    margin-top: get-unit(2);
  }
}

.u-suggestion-card {
  &__suggestion-avatar {
    margin-right: get-unit(3);
    background-color: get-color("red");
  }

  &__invalid {
    border-color: get-color("red", 6);
    color: get-color("red", 6);
    text-decoration: line-through;
    background-color: get-color("red", 4);
  }
}

.u-guess {
  font-size: 2em;
}

.u-group-progress {
  $self: &;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  text-transform: uppercase;
  margin: get-unit(2 auto);

  & #{$self}__title {
    margin: 0;
  }

  & #{$self}__bar {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: get-unit(1);
    margin: get-unit(1 0 4);
  }

  & #{$self}__item {
    border: 1px solid get-color("white");
    border-radius: var(--border-radius);
    padding: get-unit(1);
    background: get-color("white", 5, 0.5);
    margin: 0;
  }

  &__unknown {
    opacity: 0.25;
  }
}

.u-all-suggestions {
  transform: scale(0.85);
}

.u-margin {
  margin: get-unit(15 0);
}

.u-gallery-entry {
  background: get-color("white", 5, 0.95);
  border-radius: var(--border-radius);
  text-align: center;
  padding: get-unit(2);
  width: 100%;

  &__word {
    text-transform: uppercase;
    font-weight: bold;
    padding: get-unit(1);
  }

  &__suggestion {
    padding: get-unit(1);

    &--invalid {
      text-decoration: line-through;
      opacity: 0.75;
    }
  }
}
