@use "styles/sass" as *;
@use "../../../assets/fonts/architects-daughter.scss" as *;

.background {
  background: linear-gradient(-45deg, #f9c5d1, #fcd9e3, #f9c5d1);
  background-size: 1000% 1000%;
}

.c-word-pool {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: get-unit(1);
}

.store-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  &__item-text {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__item {
    background-color: get-color("gray", 2, 0.5);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: get-unit(1) solid transparent;
  }
}

.cc-clue {
  font-size: 1rem;
  padding: get-unit(6);
  min-width: 18ch;
  text-align: center;
  @include font-architects-daughter;
}

.cc-gallery-left {
  display: grid;
  place-items: center;
  height: 100%;
}

.cc-gallery-right {
  display: grid;
  align-items: center;
  height: 100%;
}

.cc-gallery-clue {
  font-size: 1.75rem;
  padding: get-unit(6 10);

  text-align: center;
  @include font-architects-daughter;
}

.final-gallery {
  display: flex;
  justify-content: center;
}
