@use "styles/sass" as *;

.daily-header.daily-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: get-unit(2);
}

.daily-header__icon {
  background-color: white;
  background: radial-gradient(circle, white 0%, transparent 70%);
}

.invisible-secret-button {
  cursor: auto;
  background: none;
  border: none;

  &:hover {
    scale: 1;
  }
}

.daily-heading.daily-heading {
  color: get-color("white") !important;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.menu {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  font-size: 1.25rem;
  gap: get-unit(2);
  place-items: center;
  background: get-color("blue", 7);
  @include box-shadow;
  color: get-color("white");

  &--hub {
    // grid-template-columns: 1fr 1fr;
    padding: get-unit(1);
  }
}

.menu-hearts {
  color: get-color("red");
  font-size: 1.5rem;
}

.slick-dots {
  transform: translateY(get-unit(6));
}

.slick-slide {
  div {
    display: grid;
    place-items: center;
  }
}

.list {
  margin-left: get-unit(6);
  list-style: disc;
}

.result-answer .ant-typography {
  font-size: 1.25rem;
  font-weight: bold;
  color: get-color("blue", 6);
}

.result-answer__text .ant-typography {
  margin: get-unit(0 1);

  span {
    text-decoration: underline;
  }
}

.results-container {
  width: 100%;
  margin: get-unit(6 0 15 0);
  justify-content: center;
  gap: get-unit(4);
}

.daily-loading {
  display: grid;
  place-items: center;
  min-height: 50svh;
}

.hub {
  display: grid;
  place-items: center;
  padding: get-unit(4 10);
}

.hub-list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: get-unit(6);
  font-size: 0.85em;
}

.hub-item {
  background: get-color("white", 5, 0.85);
  width: 100%;
  border: 3px outset get-color("white", 5, 0.3);
  border-radius: get-unit(2);
  aspect-ratio: 1 / 1;
  transition: all 500ms ease-in-out;

  &:hover {
    filter: sepia(0.85) drop-shadow(0 0 0.5rem get-color("black"));
  }

  & > a:hover {
    color: get-color("black");
  }

  &--disabled {
    opacity: 0.25 !important; // The animation overrides the opacity without important
    filter: grayscale(0.85);
    border-style: inset;

    &:disabled {
      filter: grayscale(0.85);
    }

    & > a {
      pointer-events: none;
      &:hover {
        color: get-color("black");
      }
    }
  }
}

.hub-item-placeholder {
  background: get-color("white", 5, 0.85);
  width: 100%;
  border: 3px outset get-color("white", 5, 0.3);
  border-radius: get-unit(2);
  aspect-ratio: 1 / 1;
  transition: all 500ms ease-in-out;
  opacity: 0.1;
}

.hub-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: get-color("black");
  font-weight: bold;
}

.daily-keyboard {
  width: 100%;
  max-width: calc(100vw - get-unit(4));
  position: sticky;
  bottom: get-unit(1);
  height: var(--keyboard-height);
  margin: get-unit(0 2);
  user-select: none;

  &__row {
    display: flex;
    width: 100%;
    margin: get-unit(0 auto 2);
    touch-action: manipulation;
  }

  &__key {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: get-unit(0 2 0 0);
    height: get-unit(16);
    min-width: 3ch;
    border-radius: get-unit(1);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: get-color("blue", 7);
    color: get-color("white");
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    flex: 1;

    &--backspace {
      flex: 3;
    }

    &--enter {
      flex: 5;
      font-size: 0.75em;
    }

    &:disabled,
    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &--correct {
      background-color: get-color("green", 4);
    }

    &--used {
      background-color: get-color("gray", 6);
    }

    &--incorrect {
      background-color: get-color("red", 7);
    }

    &--intermediate {
      background-color: get-color("yellow", 5);
    }
  }
}

.daily-keyboard-key {
  background: get-color("blue", 7);
  color: get-color("white");
  border-radius: var(--border-radius);
  border: 1px outset get-color("blue", 3);
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
  }

  &--guessed {
    background: get-color("gray", 6);
    color: get-color("gray", 4);
  }

  &--correct {
    background: get-color("green", 5);
    color: get-color("white");
  }
}

.text-region {
  margin: get-unit(2 auto);
  width: calc(100% - get-unit(4));
  max-width: 720px;
  display: flex;
  justify-content: center;
}

.played-wrapper {
  position: relative;

  &__played {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, -50%);
    z-index: 20;
  }

  &__demo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    z-index: 20;
    background: get-color("orange");
    padding: get-unit(0.5 4);
    border-radius: get-unit(4);
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    color: get-color("white");
  }

  &__soon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    z-index: 20;
    background: get-color("gray", 1);
    padding: get-unit(0.5 4);
    border-radius: get-unit(4);
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    color: get-color("gray", 4);
    white-space: nowrap;
  }
}

.hub-time-left {
  font-size: 0.85em;
}
