@use 'styles/sass' as *;

.daily-header.daily-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: get-unit(2);
}

.daily-heading.daily-heading {
  color: get-color('white') !important;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.keyboard {
  width: 100%;
  position: sticky;
  bottom: get-unit(1);
}

.daily-keyboard-key {
  background: get-color('blue', 7);
  color: get-color('white');
  border-radius: $border-radius;
  border: 1px outset get-color('blue', 3);
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
  }

  &--guessed {
    background: get-color('gray', 6);
    color: get-color('gray', 4);
  }

  &--correct {
    background: get-color('green', 5);
    color: get-color('white');
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  font-size: 1.25rem;
  // justify-content: center;
  gap: get-unit(2);
  place-items: center;
  background: get-color('blue', 7);
  @include box-shadow;
  color: get-color('white');
}

.menu-hearts {
  color: get-color('red');
  font-size: 1.5rem;
}

.canvas {
  background: get-color('white');
  border-radius: $border-radius;
  border: 3px solid get-color('blue', 7);
}

.prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: get-unit(1);
  margin: get-unit(6 2);
  text-transform: uppercase;
}

.letter-correct {
  background: get-color('green');
  color: get-color('white');
}

.letter-blank {
  background: get-color('gray', 2, 0.5);
  color: get-color('white');
  border: 1px solid get-color('gray', 2);
}

.carousel {
  margin: get-unit(6 auto);
}

.carousel-item {
  display: grid;
  place-items: center;
}

.slick-dots {
  transform: translateY(get-unit(6));
}

.slick-slide {
  div {
    display: grid;
    place-items: center;
  }
}

.list {
  margin-left: get-unit(6);
  list-style: disc;
}

.result-answer .ant-typography {
  font-size: 1.25rem;
  color: get-color('blue', 6);
}

.results-container {
  width: 100%;
  margin: get-unit(6 0 15 0);
  justify-content: center;
  gap: get-unit(4);
}

.daily-loading {
  display: grid;
  place-items: center;
  min-height: 50svh;
}

.ache-isso-card {
  display: grid;
  border-radius: 50%;
  background: get-color('brown', 1);
  // padding: get-unit(5);

  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
  gap: get-unit(1);
  overflow: hidden;
}

.ache-isso-card-item {
  &--pos-0 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &--pos-1 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  &--pos-2 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  &--pos-3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  &--pos-4 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  &--pos-5 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }

  &--pos-6 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  &--pos-7 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }

  &--pos-8 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
}

.ache-isso-card-sprite.ache-isso-card-sprite {
  border-radius: 50%;
  background: transparent;
}

.hub {
  display: grid;
  place-items: center;
  padding: get-unit(10);
}

.hub-list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: get-unit(15);
}

.hub-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: get-unit(2);
  color: get-color('black');
  font-weight: bold;
}

.hub-item-disabled {
  opacity: 0.5;
}
