@use 'styles/sass' as *;

.daily-header.daily-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: get-unit(2);
}

.daily-heading.daily-heading {
  color: get-color('white') !important;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  font-size: 1.25rem;
  // justify-content: center;
  gap: get-unit(2);
  place-items: center;
  background: get-color('blue', 7);
  @include box-shadow;
  color: get-color('white');
}

.menu-hearts {
  color: get-color('red');
  font-size: 1.5rem;
}

.slick-dots {
  transform: translateY(get-unit(6));
}

.slick-slide {
  div {
    display: grid;
    place-items: center;
  }
}

.list {
  margin-left: get-unit(6);
  list-style: disc;
}

.result-answer .ant-typography {
  font-size: 1.25rem;
  color: get-color('blue', 6);
}

.results-container {
  width: 100%;
  margin: get-unit(6 0 15 0);
  justify-content: center;
  gap: get-unit(4);
}

.daily-loading {
  display: grid;
  place-items: center;
  min-height: 50svh;
}

.hub {
  display: grid;
  place-items: center;
  padding: get-unit(10);
}

.hub-list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: get-unit(15);
}

.hub-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: get-unit(2);
  color: get-color('black');
  font-weight: bold;
}

.hub-item-disabled {
  opacity: 0.5;
}
