.gallery {
  justify-content: center;

  // Override body styling
  & .ant-card-body {
    padding: 0;
  }

  &__card {
    width: 280px;
    display: flex;
    flex-direction: column;
    padding: get-unit(3);
  }

  &__card-drawing {
    border: 5px inset rgb(235, 230, 230);
  }

  &__card-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title title'
      'credits date'
      'level progress';
  }

  &__card-title {
    grid-area: title;
    margin-top: get-unit(2);
  }

  &__card-credits {
    color: get-color('gray', 4);
    font-style: italic;
    grid-area: credits;
  }

  &__card-date {
    font-style: italic;
    grid-area: date;
    text-align: right;
    color: get-color('gray', 4);
  }

  &__card-level {
    grid-area: level;
    color: get-color('yellow');
  }

  &__card-progress {
    grid-area: progress;
    text-align: right;
  }
}
