.o-card-selection {
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 250ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}
