@use "styles/sass" as *;

.turn-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  transform: scale(75%);
  margin: get-unit(2 auto);

  &__title {
    background-color: rgba($color: white, $alpha: 0.6);
    margin: 0;
    padding: get-unit(1 2 0 2);
    border-radius: get-unit(3 3 0 0);
  }

  &__players {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: white, $alpha: 0.6);
    padding: get-unit(1);
    border-radius: get-unit(5);
    flex-wrap: wrap;
  }

  &__player {
    background-color: rgba($color: white, $alpha: 0.6);
    padding: get-unit(1 2);
    border-radius: get-unit(5);
    white-space: nowrap;

    &--active {
      color: get-color("white");
    }
  }

  &__arrow {
    margin: get-unit(0 1);
  }
}
