@use 'styles/sass' as *;

.instruction {
  $self: &;

  margin: get-unit(5);
  text-align: center;
  font-size: 1em;
  color: get-color('black');
  display: block;
  max-width: $max-width;
  text-wrap: wrap;

  &--no-margin {
    margin: 0;
  }

  &--white {
    color: get-color('red');
  }

  &--dark {
    color: get-color('white');
  }

  &--contained {
    background-color: rgba($color: white, $alpha: 0.75);
    padding: get-unit(2);
    border-radius: $border-radius;

    &#{$self}--white {
      background-color: rgba($color: black, $alpha: 0.2);
    }
  }

  ul {
    text-align: left;
  }
}
