@use "styles/sass" as *;

.ruleInstruction {
  $self: &;

  background-color: rgba($color: white, $alpha: 1);
  border-radius: var(--border-radius);
  @include box-shadow;

  max-width: var(--max-width);
  min-width: calc(var(--max-width) / 2);
  display: grid;
  grid-template-columns: auto 1fr;
  margin: get-unit(5);
  font-size: 1em;

  & > :global(.ant-typography) {
    margin-bottom: 0;
  }
}

.ruleInstructionIcon {
  padding: get-unit(2 3);
  border-radius: var(--border-radius) 0 0 var(--border-radius);

  &:global(.ruleInstructionIconAction) {
    opacity: 0.85;
  }
}

.ruleInstructionContent {
  padding: get-unit(2 3);
  text-wrap: wrap;
}
