@use 'styles/sass' as *;

.text-highlight {
  text-transform: uppercase;
  font-size: 0.75em;
  background-color: rgba($color: white, $alpha: 0.6);
  padding: get-unit(1 3);
  margin: get-unit(0 1);
  border-radius: $border-radius;
  font-weight: bold;
  display: inline-block;
}
