@use "styles/sass" as *;

.title {
  $self: &;

  max-width: var(--max-width);
  text-wrap: balance;
  text-align: center;

  &.ant-typography {
    margin-bottom: get-unit(1);
    font-size: 2.25rem;
    margin-right: auto;
    margin-left: auto;

    @include md {
      font-size: 2rem;
    }

    @include xs {
      font-size: 1.75rem;
    }
  }

  &#{$self}--light {
    color: get-color("black");
  }

  &#{$self}--dark {
    color: get-color("white");
  }

  &#{$self}--white {
    color: get-color("red");
  }

  &#{$self}--large {
    font-size: 2.25rem;
  }

  &#{$self}--medium {
    font-size: 2rem;
  }

  &#{$self}--small {
    font-size: 1.75rem;
  }

  &#{$self}--x-small {
    font-size: 1.5rem;
  }

  &#{$self}--xx-small {
    font-size: 1.15rem;
  }

  &#{$self}--align-left {
    text-align: left;
    margin-left: 0;
  }

  &#{$self}--align-right {
    text-align: right;
    margin-right: 0;
  }

  &__icon {
    margin-right: get-unit(2);
    transform: translateY(-0.1em);
  }
}
