@use 'styles/sass' as *;

.title {
  $self: &;

  max-width: $max-width;
  text-wrap: balance;
  text-align: center;
  color: get-color('black');

  &.ant-typography {
    margin-bottom: get-unit(1);
    font-size: 2.25rem;
    margin-right: auto;
    margin-left: auto;

    @include md {
      font-size: 2rem;
    }

    @include xs {
      font-size: 1.75rem;
    }
  }

  &#{$self}--white {
    color: get-color('white');
  }

  &#{$self}--large {
    font-size: 2.25rem;
  }

  &#{$self}--medium {
    font-size: 2rem;
  }

  &#{$self}--small {
    font-size: 1.75rem;
  }

  &#{$self}--x-small {
    font-size: 1.5rem;
  }

  &#{$self}--xx-small {
    font-size: 1.15rem;
  }

  &#{$self}--align-left {
    text-align: left;
    margin-left: 0;
  }

  &#{$self}--align-right {
    text-align: right;
    margin-right: 0;
  }
}
