@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

// Luckiest Guy is a friendly heavyweight sans serif typeface inspired by 1950s advertisements with custom hand lettering.
// https://fonts.google.com/specimen/Luckiest+Guy
@mixin font-luckiest-guy {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
