.s-dream-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: get-color('black');
  border-radius: get-unit(1);
  padding: get-unit(2);

  &__entry {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__dream-label {
    width: 100%;
    background-color: get-color('yellow');
    border-radius: get-unit(2);
    color: get-color('black');
    text-align: center;
  }

  &__nightmare-label {
    width: 100%;
    background-color: get-color('purple', 6);
    border-radius: get-unit(2);
    color: get-color('white');
    text-align: center;
  }

  &__card-container {
    position: relative;
  }
}

.s-dream-board-card {
  border: 5px solid transparent;

  &--dream {
    border: 5px solid get-color('yellow');
  }

  &--nightmare {
    border: 5px solid get-color('purple', 6);
  }
}

.s-dream-board-entry-nightmare {
  background-color: get-color('purple', 6);
  border-radius: get-unit(2);
  color: get-color('white');
  text-align: center;

  &:disabled {
    background-color: get-color('purple', 6);
    color: get-color('white');
    border-color: get-color('purple', 6);
  }
}

.s-dream-board-entry-dream {
  background-color: get-color('yellow');
  border-radius: get-unit(2);
  color: get-color('black');
  text-align: center;
  overflow: hidden;
}

.s-theme-card {
  width: 70%;
  font-size: 1.25rem;
  max-width: none;
  margin: 0.5em auto;

  &__description {
    font-size: 0.8rem;
  }
}

.s-result-correct {
  font-size: 2em;
  color: get-color('blue');
}

.s-results-current-votes.s-results-current-votes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: get-unit(2);
}

.s-results-current-vote {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-results-clues.s-results-clues {
  list-style: none;
  text-align: center;
}

.s-results-clues-label.s-results-clues-label {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.s-results-clues-item.s-results-clues-item {
  margin: get-unit(1);

  padding: get-unit(1);
  background-color: get-color('white');
  border-radius: get-unit(1);
}

.s-gallery-dream-display {
  padding: get-unit(1);
  background-color: get-color('white');
  @include box-shadow;
  height: 100%;
  border-radius: get-unit(1);

  &__theme-container {
    border-width: 1px;
    border-style: outset;
    border-color: get-color('gray', 1);
    border-radius: get-unit(1);
    margin: get-unit(2);
  }

  &__theme {
    font-style: italic;
    background-color: get-color('gray', 1);
    padding: get-unit(1);
    color: get-color('gray');
  }

  &__dream {
    font-family: 'Architects Daughter', cursive;
    padding: get-unit(2);
    font-size: 1rem;
  }

  &__dream-image-container {
    display: flex;
    justify-content: center;
  }
}

.s-gallery-guesses {
  padding: get-unit(1);
  background-color: get-color('white');
  @include box-shadow;
  height: 100%;
  border-radius: get-unit(1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__votes {
    min-height: get-unit(6);
    display: flex;
    flex-wrap: wrap;
  }
}
