.s-dream-board {
  display: flex;
  flex-wrap: wrap;
}

.s-dream-board-card {
  &--dream {
    border: 5px solid get-color(yellow);
  }

  &--nightmare {
    border: 5px solid get-color(black);
  }
}
.s-dream-board-entry {
  margin: get-unit(1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-dream-board-entry-nightmare {
  background: get-color(black);
  border-radius: get-unit(2);
  color: get-color(white);
  text-align: center;

  &:disabled {
    background: get-color(black);
    color: get-color(white);
    border-color: get-color(black);
  }
}

.s-dream-board-entry-dream {
  background: get-color(yellow);
  border-radius: get-unit(2);
  color: get-color(black);
  text-align: center;
  overflow: hidden;
}

.s-theme-card {
  width: 70%;
  font-size: 1.25rem;
  max-width: none;
  margin: 0.5em auto;
}
