.instruction {
  $self: &;

  margin: get-unit(5);
  text-align: center;
  font-size: 1em;
  color: get-color(black);
  display: block;

  &--white {
    color: white;
  }

  &--contained {
    background: rgba($color: white, $alpha: 0.6);
    padding: get-unit(2);
    border-radius: get-unit(1);

    &#{$self}--white {
      background: rgba($color: black, $alpha: 0.2);
    }
  }
}
