.phase-container {
  border: 1px solid get-color(white);
  border-radius: get-unit(1);
  margin: get-unit(4);
  padding: get-unit(4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  box-sizing: border-box;

  &--full-screen {
    width: calc(100vw - #{get-unit(8)});
    height: calc(100vh - #{get-unit(8)});
    // overflow-x: hidden;
    overflow: hidden;
  }

  &--white {
    background: rgba($color: #ffffff, $alpha: 0.7);
  }

  &__title {
    border: 1px solid get-color(white);
    border-radius: get-unit(5);
    padding: get-unit(0 2);
    position: absolute;
    top: get-unit(1);
    background: rgba($color: #ffffff, $alpha: 0.9);
  }
}
