.round-announcement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    width: 150px;
  }

  $roundSize: 350px;

  &__round-wrapper {
    position: relative;
    width: $roundSize;
    height: $roundSize;
    margin: get-unit(3);
  }

  &__circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    animation: spin 10s linear infinite;
    background-color: rgba($color: #fff, $alpha: 0.5);
    border: get-unit(5) dashed get-color(yellow);
  }

  &__number {
    position: absolute;
    width: $roundSize;
    height: $roundSize;
    color: get-color(white);
    font-weight: bolder;
    top: 0;
    left: 0;
    font-size: 15em;
    text-align: center;
  }

  &__in-timed {
    margin-left: get-unit(1);
    font-size: 0.8em;
    background: white;
    border-radius: 50%;
    width: 1.6em;
    color: get-color(blue);
  }
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
