.title {
  $self: &;

  text-align: center;
  color: get-color(black);

  &.ant-typography {
    margin-bottom: get-unit(1);
  }

  &#{$self}--white {
    color: white;
  }
}

.title-highlight {
  text-transform: uppercase;
  font-size: 0.75em;
  background: rgba($color: white, $alpha: 0.6);
  padding: get-unit(1 3);
  border-radius: get-unit(1);
}
