@use "styles/sass" as *;
.timer-number {
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.timer-waiting-time-bar {
  min-width: 100px;
  width: 100%;
  height: get-unit(1);
  background: get-color("white", 5, 0.2);
  border-radius: $border-radius;
  margin: get-unit(1 0);

  &__container {
    min-width: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

    height: 100%;
    border-radius: $border-radius;
  }

  &__left {
    height: 100%;
    background: get-color("white", 5, 0.5);
    transition: width 2.5s;
    border-radius: $border-radius;
  }
}
