@use "styles/sass" as *;

.ta-na-cara-characters-board {
  display: grid;
  gap: get-unit(1);
  background: get-color("black", 5, 0.25);
  padding: get-unit(1);
  border-radius: get-unit(3);
  position: relative;

  &--5 {
    grid-template-columns: repeat(5, 1fr);
  }

  &--6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

.ta-na-cara-characters-board-avatar {
  position: absolute;
  top: 0;
  left: get-unit(2);
  z-index: 10;
  transform: translateY(-100%);
  border-radius: get-unit(3 3 0 0);
}

.ta-na-cara-prompt.ta-na-cara-prompt {
  max-width: 256px;
}

.ta-na-cara-prompt__footer {
  font-size: 0.75rem;
}

.ta-na-cara-suspect {
  position: relative;

  &--non-button {
    border: get-unit(1) solid transparent;
  }

  &--is-player {
    position: absolute;
    z-index: 15;
    rotate: -10deg;
    padding: get-unit(1 2);
    background: get-color("yellow");
    border-radius: get-unit(1);
    box-shadow: 0 0 get-unit(2) rgba(0, 0, 0, 0.65);

    text-transform: uppercase;
    font-weight: bold;
  }

  &--is-active {
    border-radius: get-unit(3);
    border-width: get-width(1);
    border-style: dashed;
    animation: borderBlink 500ms infinite;
  }

  &--is-tagged {
    position: relative;
    filter: grayscale(0.5);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 0, 0, 0.3);
      pointer-events: none;
      border-radius: inherit;
    }
  }

  &--tagged {
    position: absolute;
    top: get-unit(1);
    right: get-unit(1);

    border-radius: 50%;
    padding: get-unit(0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }
}

@keyframes borderBlink {
  0% {
    border-color: get-color("red");
  }
  33% {
    border-color: get-color("white");
  }
  66% {
    border-color: get-color("blue");
  }
  100% {
    border-color: get-color("red");
  }
}

.ta-na-cara-grouped-answers {
  min-width: 68px;
}
