@use "styles/sass" as *;

.characters-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__character {
    position: relative;
  }

  &__character-name {
    position: absolute;
    bottom: get-unit(2);
    left: 50%;
    white-space: nowrap;
    padding: get-unit(1 3);
    border-radius: var(--border-radius);
    background: get-color("black", 5, 0.85);
    transform: translateX(-50%);
    color: get-color("white");
  }

  &__character-image {
    &--active {
      outline: 2px solid get-color("yellow");
    }
  }
}
.players-boards {
  align-items: start;
}

.player-board {
  display: grid;
  background: get-color("gray", 4, 0.85);
  border-radius: var(--border-radius);
  margin: get-unit(2 1);
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "image history"
    "points history"
    "avatar history";

  &__image {
    grid-area: image;
    margin: 0;
    border-radius: 0;
  }

  &__unknown-character {
    display: grid;
    place-items: center;

    & .ant-image-img {
      border-radius: var(--border-radius);
    }
  }

  &__avatar {
    grid-area: avatar;
    justify-self: center;
  }

  &__points {
    grid-area: points;
    justify-self: center;
  }

  &__history {
    grid-area: history;
    background: get-color("white", 5, 0.55);
    margin: get-unit(1);
    border-radius: var(--border-radius);
    height: clamp(300px, 40vh, 500px);
    width: clamp(150px, 10vw, 160px);
    overflow-y: auto;

    li {
      padding: get-unit(1);
      margin: get-unit(1);
    }

    li:nth-child(even) {
      background: get-color("white", 5, 0.55);
    }
  }

  &__history-previous-guess {
    display: flex;
    align-items: center;
  }
}

.questions-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
  align-items: stretch;

  &__button {
    width: 100%;
  }

  &__card {
    width: 100%;
  }
}

.answer-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: get-color("white");
  border-radius: var(--border-radius);
  padding: get-unit(1 2);
  margin: get-unit(5);

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: get-unit(2);
  }

  &__button {
    padding: get-unit(2 3);
    border-radius: var(--border-radius);

    &--yes {
      background: get-color("green", 3);
      border: get-unit(1) solid get-color("green", 5);
    }

    &--no {
      background: get-color("red", 3);
      border: get-unit(1) solid get-color("red", 5);
    }
  }
}
