.game-info-drawer {
  &__button {
    @include box-shadow;

    position: absolute;
    top: -1;
    right: 50%;
    transform: translateX(50%);

    border: 1px solid get-color(white);
    border-radius: get-unit(0 0 4 4);
    padding: get-unit(0 6);
    background: rgba($color: #ffffff, $alpha: 0.9);

    cursor: pointer;

    &:hover {
      background: rgba($color: #ffffff, $alpha: 1);
    }
  }

  &__inline-separator {
    margin-left: get-unit(2);
  }

  &__meta {
    padding-left: 0;
  }

  &__meta-item {
    margin: get-unit(1 0);
  }

  &__label {
    font-weight: bold;
    font-style: italic;
  }

  &__label-inline {
    font-weight: bold;
    display: inline;
  }

  &__me {
    margin-top: get-unit(2);
    text-transform: uppercase;
    font-weight: bolder;
  }

  &__avatar-with-badge {
    margin-right: get-unit(2);
  }

  &__section-settings {
    display: flex;
  }

  &__settings-entry {
    width: 45%;
    margin-right: get-unit(1);
  }

  &__switch-label {
    font-size: 0.8em;
  }

  &__round {
    font-weight: bolder;
    background: get-color(gray, 4);
    margin-left: get-unit(2);
  }

  &__ranked-player {
    margin: get-unit(3 0);
  }
}
