.game-info-drawer {
  position: fixed;
  top: -1px;
  right: 50%;
  transform: translateX(50%);
  z-index: 150;

  &__button {
    @include box-shadow;

    border: 1px solid get-color(white);
    border-radius: get-unit(0 0 4 4);
    padding: get-unit(0 6);
    background-color: rgba($color: #ffffff, $alpha: 0.9);

    cursor: pointer;

    &:hover {
      background-color: rgba($color: #ffffff, $alpha: 1);
    }
  }

  &__inline-separator {
    margin-left: get-unit(2);
  }

  &__meta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-left: 0;
    gap: get-unit(2);
  }

  &__label {
    font-weight: bold;
    font-style: italic;
  }

  &__label-inline {
    font-weight: bold;
    display: inline;
  }

  &__me {
    margin-top: get-unit(2);
    text-transform: uppercase;
    font-weight: bolder;
  }

  &__avatar-with-badge {
    margin-right: get-unit(2);
  }

  &__avatar-tag {
    transform: scale(0.75);
  }

  &__section-settings {
    display: grid;
    gap: get-unit(2);
  }

  &__settings-entry {
    width: 45%;
    margin-right: get-unit(1);
  }

  &__switch-label {
    font-size: 0.8em;
    white-space: nowrap;
  }

  &__round {
    font-weight: bolder;
    background-color: get-color(gray, 4);
    margin-left: get-unit(2);
  }

  &__ranked-player {
    margin: get-unit(3 0);
  }
}
