.y-words-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: get-unit(2);

  &__word {
    padding: get-unit(2 3);
    background-color: get-color('white');
    text-align: center;
  }

  &__word-selected {
    text-decoration: line-through;
    color: get-color('red', 3);
    background-color: get-color('red', 7);
    width: 100%;
  }
}

.y-clover {
  width: 500px;
  height: 500px;

  display: grid;
  grid-template-columns: 3rem auto auto 3rem;
  grid-template-rows: 3rem auto auto 3rem;
  grid-template-areas:
    '. clue-0 clue-0 .'
    'clue-3 leaf-A leaf-B clue-1'
    'clue-3 leaf-D leaf-C clue-1'
    '. clue-2 clue-2 .';

  transition: 500ms all;

  &__clue-0 {
    grid-area: clue-0;
    border-radius: get-unit(6 6 0 0);
  }

  &__clue-1 {
    grid-area: clue-1;
    border-radius: get-unit(0 6 6 0);
  }

  &__clue-2 {
    grid-area: clue-2;
    border-radius: get-unit(0 0 6 6);
  }

  &__clue-3 {
    grid-area: clue-3;
    border-radius: get-unit(6 0 0 6);
  }

  &__leaf-A {
    grid-area: leaf-A;
    width: 100%;
    height: 100%;
  }

  &__leaf-B {
    grid-area: leaf-B;
    width: 100%;
    height: 100%;
  }

  &__leaf-C {
    grid-area: leaf-C;
    width: 100%;
    height: 100%;
  }

  &__leaf-D {
    grid-area: leaf-D;
    width: 100%;
    height: 100%;
  }
}

// Handles clover and leaves rotation
.y-clover-rotation {
  &--0 {
    transform: rotate(0turn);
  }

  &--90 {
    transform: rotate(0.25turn);
  }

  &--180 {
    transform: rotate(0.5turn);
  }

  &--270 {
    transform: rotate(0.75turn);
  }
}

.y-clover-clue {
  background-color: olivedrab;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.y-clover-input {
  width: 25ch;
  min-width: 25ch;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.y-clover-clue-readonly {
  width: 25ch;
  min-width: 25ch;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  font-weight: bolder;
  color: get-color('white');
  font-size: 1.1rem;
}

.y-clover-leaf {
  padding: get-unit(1);
  background-color: olivedrab;
  border: 2px solid transparent;
  transition: all 250ms;
  border-radius: get-unit(2);
  min-width: 180px;
  min-height: 180px;

  &--draggable {
    cursor: grab;
  }

  &--dragging {
    opacity: 0.5;
    transform: scale(0.9);
  }

  &--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__empty-avatar {
    cursor: help;
    transition: transform 250ms;

    &:hover {
      transform: scale(1.5);
    }
  }

  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 2rem 1fr 2rem;
  grid-template-areas:
    '. card-0 .'
    'card-3 center card-1'
    '. card-2 .';

  &__center {
    grid-area: center;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--rotatable {
      border: 2px solid transparent;
      cursor: pointer;

      &:hover {
        border: 2px solid white;
        background-color: get-color('gray', 1);
      }
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background: white;
    color: green;
    padding: get-unit(1 2);
  }

  &__card--0 {
    grid-area: card-0;
    transform: rotate(0deg);
    border-radius: get-unit(6 6 0 0);
  }

  &__card--1 {
    grid-area: card-1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-radius: get-unit(0 6 6 0);
  }

  &__card--2 {
    grid-area: card-2;
    transform: rotate(180deg);
    border-radius: get-unit(6 6 0 0);
  }

  &__card--3 {
    grid-area: card-3;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-radius: get-unit(0 6 6 0);
  }

  // &__card-text {
  //   // min-width: 100%;
  //   // min-height: 100%;
  // }
}

.y-leaf-loose {
  width: 180px;
  height: 180px;
  display: flex;
}

.y-clover-leaf-drop {
  & .y-clover-leaf {
    background-color: get-color('brown', 6);
    transform: scale(0.8);
  }
  transition: all 500ms;
}
