@use "styles/sass" as *;

.background {
  background: linear-gradient(-45deg, #526257, #4a472f, #46321a);
  background-size: 1000% 1000%;
}

.x-clue-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.x-clue-card-li {
  margin: get-unit(1);
  border-radius: var(--border-radius);
}

.x-clue-card-button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

.x-clue-card-draggable {
  cursor: grab;
  padding: 0;
  background: 0;
  border: none;

  &:active {
    cursor: grabbing;
    z-index: 15;
  }
}

.x-clue-card {
  height: 3rem;
  border: get-color("black") 2px solid;
  border-radius: var(--border-radius);
  background-color: get-color("white");
  padding: 0;
  display: flex;
  align-items: center;

  &--selected {
    border: get-color("yellow") 2px solid;
    border-style: outset;
  }

  &__clue {
    text-transform: uppercase;
    padding: get-unit(1 2);

    &--matched {
      text-decoration: line-through;
    }
  }

  &__icon {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: get-unit(1);
  }
}

.x-previous-clue {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: get-color("gray", 6);
  font-style: italic;
}

.x-players-in-cell-player {
  &--correct {
    background-color: get-color("white", 5, -0.5);
    border-radius: var(--border-radius);
    padding: 1px;
    margin: get-unit(0.5);
  }
}
