.r-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: red;
}

.r-monster-card {
  transition: 500ms transform;
  transform: rotate(0deg);

  &--vertical {
    transform: rotate(0deg);
  }

  &--horizontal {
    transform: rotate(90deg);
  }
}

.r-sketch {
  background: get-color(white);
  @include box-shadow;
}

.r-monster-sketch {
  margin: get-unit(1);
}

.r-monster-list {
  display: flex;
  flex-wrap: wrap;
}

.r-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
