@use 'styles/sass' as *;

.fixed-menu-button {
  position: fixed;
  left: 0;
  padding: get-unit(1);
  border-radius: get-unit(0 6 6 0);
  background-color: get-color('white', 5, 0.8);
  border: 1px solid get-color('white', 8);
  color: get-color('gray', 4);
  z-index: 155;
  transition: all 250ms;

  @include box-shadow;

  @include xs {
    position: static;
  }

  // Each position should have 12 (initial top) + pos# * 12 (height plus spacing)
  &--0 {
    top: get-unit(12);
  }

  &--1 {
    top: get-unit(28);
  }

  &--2 {
    top: get-unit(42);
  }

  &--3 {
    top: get-unit(60);
  }

  &---1 {
    bottom: get-unit(1);
    background-color: get-color('red');
    border-color: get-color('red');
  }

  &__label {
    padding: get-unit(0 2 0 1);
  }
}
