@use 'styles/sass' as *;

.timed-button {
  display: flex;
  gap: get-unit(1);

  &__time {
    display: inline-flex;
    justify-content: center;
    font-size: 0.8em;
    border-radius: 50%;
    width: 1.6em;
    background-color: white;
    color: get-color('black');

    &--primary {
      background-color: white;
      color: get-color('blue');
    }

    &--ghost {
      background-color: transparent;
      border: 1px dashed get-color('black');
      color: get-color('black');
    }

    &--dashed {
      border: 1px dashed get-color('blue');
      color: get-color('blue');
    }
  }
}
