.g-table {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.g-table-item {
  background-color: black;
  position: relative;
  box-sizing: border-box;
}

.g-table-item-button {
  position: absolute;
  bottom: get-unit(4);
  left: 50%;
  transform: translateX(-50%);

  &:hover.ant-btn {
    background-color: get-color(white);
  }
}

.g-star-points {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
}

.g-star {
  width: get-unit(7);

  &--super-spark {
    width: get-unit(10);
  }
}

.g-table-image {
  border: 3px solid transparent;
  box-sizing: border-box;

  &--selected {
    border-color: get-color(yellow);
  }
}

.g-players-dreams-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.75rem;
  margin: get-unit(2 auto);

  &__title {
    background-color: rgba($color: white, $alpha: 0.6);
    margin: 0;
    padding: get-unit(1 3 0 3);
    border-radius: get-unit(2 2 0 0);
  }

  &__players {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: white, $alpha: 0.6);
    padding: get-unit(1);
    border-radius: get-unit(1);
    flex-wrap: wrap;
    color: get-color(white);
  }

  &__player {
    background-color: rgba($color: white, $alpha: 0.6);
    padding: get-unit(1 2);
    white-space: nowrap;

    &:first-child {
      border-radius: get-unit(1 0 0 1);
    }

    &:last-child {
      border-radius: get-unit(0 1 1 0);
    }

    &--nightmare {
      border: 2px solid get-color(black);
      color: get-color(black);
    }
  }

  &__count {
    text-align: center;

    &--fallen {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }
}

.g-dream-result {
  display: grid;
  width: 100%;
  max-width: 600px;
  grid-template-columns: 50% auto;
  grid-template-rows: repeat(5 auto);
  gap: get-unit(2);
  grid-template-areas:
    'header header'
    'card matches'
    'card matching-players'
    'card fallen-matches'
    'footer footer';
  background-color: get-color(white);

  &__header {
    grid-area: header;
    padding: get-unit(2);
    color: get-color(white);
  }

  &__card {
    grid-area: card;
    display: flex;
    justify-content: center;
  }

  &__match-result {
    grid-area: matches;
    background-color: get-color(gray, 1);
    font-size: 1rem;
    padding: get-unit(1);
    margin-right: get-unit(2);
  }

  &__matching-players {
    grid-area: matching-players;
    background-color: get-color(gray, 1);
    padding: get-unit(1);
    margin-right: get-unit(2);
  }

  &__fallen-matching-players {
    grid-area: fallen-matches;
    background-color: get-color(gray, 1);
    padding: get-unit(1);
    margin-right: get-unit(2);
  }

  &__matched-players-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &--centered {
      justify-content: center;
    }
  }

  &__label {
    font-weight: bold;
  }

  &__footer {
    grid-area: footer;
    background-color: get-color(gray, 1);
    padding: get-unit(1);
    margin: get-unit(0 2 2 2);
  }
}

.g-best-matches {
  display: flex;
  flex-wrap: wrap;

  &__entry {
    margin: get-unit(2);
  }

  &__label {
    text-align: center;
    text-transform: uppercase;
    padding: get-unit(1);
    background-color: get-color(gray, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: get-unit(1);
  }
}
