@use 'styles/sass' as *;

.vip-button.vip-button {
  background: get-color('orange');

  &:hover:hover {
    border-color: get-color('orange');
    color: get-color('orange');
    background: get-color('white');
  }
}

.vip-button-timer {
  margin-right: get-unit(1);
  padding: get-unit(0 2);
  background: get-color('white', 5, 0.5);
  border-radius: $border-radius;
  color: get-color('white');
  display: inline-block;
}
