.phase-container {
  padding: get-unit(12 14);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: $max-width-container;
  margin: 0 auto;

  @include xs {
    margin: get-unit(4 auto 1 auto);
    padding: get-unit(4 1 1 1);
  }

  &--full-screen {
    width: calc(100vw - #{get-unit(8)});
    height: calc(100vh - #{get-unit(8)});
    height: calc(100dvh - #{get-unit(8)});
    overflow: hidden;
  }

  &--white {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
  }
}
