@use 'styles/sass' as *;

.lobby {
  flex: 1;
  display: grid;
  gap: get-unit(1);
  width: 100%;
  grid-template-columns: 10vw [left] 1fr [center] auto [right] 1fr 10vw;
  grid-template-rows: repeat(5, auto);
  z-index: 3;

  &__seating-area-left {
    grid-column: left;
    grid-row: 2 / span 1;
    min-height: 500px;
    position: relative;
  }

  &__seating-area-right {
    grid-column: right;
    grid-row: 2 / span 1;
    min-height: 500px;
    position: relative;
  }

  &__seat {
    position: absolute;
  }
}

.lobby-step {
  grid-column: center;
  grid-row: row -7 / row 6;
  justify-self: center;
  width: 300px;
  @include vertical-centered-container;
  margin: get-unit(8 0);
  transition: all 500ms;

  &__card {
    background-color: get-color('white');
    @include box-shadow;
    padding: get-unit(3);
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__banner {
    max-width: 360px;
    border-radius: get-unit(2);
  }

  &__title {
    text-align: center;
  }

  &__summary {
    text-align: center;
    color: get-color('black', 3);
  }

  &__content {
    width: 100%;
  }

  &__space-buttons {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  &__avatar-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }

  &__avatar-nav-button {
    height: 100px;
    flex: 1;
  }

  &__description {
    text-transform: capitalize;
    text-align: center;
  }

  &__name-input {
    margin: get-unit(2 0);
    width: 100%;
  }

  &__settings {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: get-unit(4 0);
  }

  &__settings-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__switch-label {
    font-size: 0.95em;
  }
}

.lobby-banner {
  max-width: 360px;
  border-radius: get-unit(2);
}

.lobby-avatar {
  width: 200px;
  border-radius: get-unit(2);
  margin: get-unit(0 2);
}

.lobby-heading {
  text-align: center;
  margin: get-unit(2 1);
}

.cloud-background {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100vh;
  height: 100dvh;

  // ANIMATION

  &__animation-0 {
    animation: animateCloud 35s linear infinite;
    transform: scale(0.35) translateY(75vh);
  }

  &__animation-1 {
    animation: animateCloud 20s linear infinite;
    transform: scale(0.3) translateY(250vh);
  }

  &__animation-2 {
    animation: animateCloud 30s linear infinite;
    transform: scale(0.35) translateY(100vh);
  }

  &__animation-3 {
    animation: animateCloud 18s linear infinite;
    transform: scale(0.4) translateY(10vh);
  }

  &__animation-4 {
    animation: animateCloud 25s linear infinite;
    transform: scale(0.55) translateY(100vh);
  }

  // The cloud itself
  &__cloud {
    position: absolute;
    width: 300px;
    background-repeat: no-repeat;
    height: 400px;
    min-height: 300px;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

.lobby-usual-avatar-selection {
  border: 2px solid get-color('gray', 3, 0.5);
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  padding: get-unit(1 1 2);

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__avatar {
    width: 40px;
    border-radius: $border-radius;
    margin: get-unit(0 1);
  }
}
