.phase-rules {
  padding: get-unit(8 8);

  &__carousel {
    background-color: rgba($color: #000, $alpha: 0.2);
  }

  &__rule .rules-carousel__rule-text {
    color: get-color("white");
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: get-unit(3);
    padding: get-unit(4);
    background-color: rgba($color: #000, $alpha: 0.2);
    border-radius: get-unit(2);
  }

  &__rule-actions-ready {
    background-color: get-color("green");
    font-style: italic;
  }
}
