.lobby {
  border: 1px solid white;
  border-radius: $border-radius;
  margin: get-unit(4);
  padding: get-unit(4);
  height: 100%;
  display: flex;

  &__room {
    flex: 1;
    display: grid;
    gap: get-unit(1);
    grid-template-columns: repeat(9, 1fr [col]);
    grid-template-rows: repeat(6, 1fr [row]);
    z-index: 3;
  }

  &__seat {
    &--0 {
      grid-column: col 2;
      grid-row: row 3;
    }

    &--1 {
      grid-column: col 6;
      grid-row: row 3;
    }

    &--2 {
      grid-column: col 1;
      grid-row: row 4;
    }

    &--3 {
      grid-column: col 7;
      grid-row: row 4;
    }

    &--4 {
      grid-column: col 1;
      grid-row: row 2;
    }

    &--5 {
      grid-column: col 7;
      grid-row: row 2;
    }

    &--6 {
      grid-column: col 2;
      grid-row: row 5;
    }

    &--7 {
      grid-column: col 6;
      grid-row: row 5;
    }

    &--8 {
      grid-column: col 2;
      grid-row: row 1;
    }

    &--9 {
      grid-column: col 6;
      grid-row: row 1;
    }

    &--10 {
      grid-column: col 1;
      grid-row: row -7;
    }

    &--11 {
      grid-column: col 7;
      grid-row: row -7;
    }
  }
}

.lobby-banner {
  max-width: 360px;
  border-radius: get-unit(2);
}

.lobby-avatar {
  width: 200px;
  border-radius: get-unit(2);
  margin: get-unit(0 2);
}

.lobby-heading {
  text-align: center;
  margin: get-unit(2 1);
}

.lobby-waiting {
  grid-column: col 4;
  grid-row: row -7 / row 6;
  justify-self: center;

  @include vertical-centered-container;

  width: 260px;
  margin: get-unit(8 0);

  &__card {
    background-color: white;
    @include box-shadow;
    padding: get-unit(3);
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    border-radius: 50%;
    width: 50%;
    min-width: 100px;
    margin: get-unit(2 auto);
  }

  &__lock-button {
    width: calc(100% - #{get-unit(6)});
    bottom: get-unit(3);
    flex-direction: column;
  }
}

.lobby-join {
  grid-column: col 4;
  grid-row: row -7 / row 6;
  justify-self: center;
  width: 300px;
  @include vertical-centered-container;
  margin: get-unit(8 0);

  &__card {
    background-color: white;
    @include box-shadow;
    padding: get-unit(3);
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar-selection {
    display: flex;
    align-items: center;
    max-width: 250px;
    justify-content: center;
  }

  &__avatar-nav-button {
    height: 100px;
    flex: 1;
  }

  &__avatar-alert {
    margin: get-unit(2 0);
  }

  &__name-input {
    margin-bottom: get-unit(2);
  }

  &__join-button {
    width: 100%;
  }

  &__join-button-link {
    width: 100%;
    margin-top: get-unit(2);
  }
}

.cloud-background {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100vh;

  // ANIMATION

  &__animation-0 {
    animation: animateCloud 35s linear infinite;
    transform: scale(0.35) translateY(75vh);
  }

  &__animation-1 {
    animation: animateCloud 20s linear infinite;
    transform: scale(0.3) translateY(250vh);
  }

  &__animation-2 {
    animation: animateCloud 30s linear infinite;
    transform: scale(0.35) translateY(100vh);
  }

  &__animation-3 {
    animation: animateCloud 18s linear infinite;
    transform: scale(0.4) translateY(10vh);
  }

  &__animation-4 {
    animation: animateCloud 25s linear infinite;
    transform: scale(0.55) translateY(100vh);
  }

  // The cloud itself
  &__cloud {
    position: absolute;
    width: 300px;
    background-repeat: no-repeat;
    height: 400px;
    min-height: 300px;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}
