.phase-container {
  margin: get-unit(4);
  padding: get-unit(4);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  box-sizing: border-box;
  position: relative;

  @include xs {
    margin: get-unit(1);
    padding: get-unit(1);
  }

  &--full-screen {
    width: calc(100vw - #{get-unit(8)});
    height: calc(100vh - #{get-unit(8)});
    overflow: hidden;
  }

  &--white {
    background: rgba($color: #ffffff, $alpha: 0.7);
  }
}
