@use 'styles/sass' as *;

.canvas {
  background: get-color('white');
  border-radius: $border-radius;
  border: 3px solid get-color('blue', 7);
}

.prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: get-unit(1);
  margin: get-unit(6 2);
  text-transform: uppercase;
}

.letter-correct {
  background: get-color('green');
  color: get-color('white');
}

.letter-blank {
  background: get-color('gray', 2, 0.5);
  color: get-color('white');
  border: 1px solid get-color('gray', 2);
}

.carousel {
  margin: get-unit(6 auto);
}

.carousel-item {
  display: grid;
  place-items: center;
}
