html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.container {
  flex-grow: 1;
  margin: get-unit(4);
  padding: get-unit(4);
  border-radius: get-unit(1);
  background: rgba(white, 0.5);

  &--white {
    background: white;
  }

  &--border {
    border: 1px solid white;
  }

  &--transparent {
    background: transparent;
  }

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.center {
  text-align: center;
}

.padding {
  padding: get-unit(2);
}

.uppercase-input {
  text-transform: uppercase;
}

.admin-container {
  background: rgba($color: red, $alpha: 0.5);
  padding: get-unit(2);
  border: 1px solid get-color(red);
  border-radius: get-unit(1);
}
