html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;

  // Intercepts image preview to make then look like cards
  .ant-image-preview-img {
    border-radius: get-unit(8);
  }
}

.container {
  flex-grow: 1;
  margin: get-unit(4);
  padding: get-unit(4);
  border-radius: $border-radius;
  background-color: rgba(white, 0.5);

  &--white {
    background-color: white;
  }

  &--border {
    border: 1px solid white;
  }

  &--transparent {
    background-color: transparent;
  }

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text-center {
  text-align: center;
}

.center {
  text-align: center;
}

.margin {
  margin: get-unit(2);
}

.padding {
  padding: get-unit(2);
}

.uppercase-input {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.full-width {
  width: 100%;
}

.admin-container {
  background-color: rgba($color: red, $alpha: 0.5);
  padding: get-unit(2);
  border: 1px solid get-color('red');
  border-radius: $border-radius;
}

.contained {
  background-color: rgba($color: white, $alpha: 0.6);
  padding: get-unit(2);
  border-radius: $border-radius;
}

.reset-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.invisible-button {
  transition: transform 250ms;

  &:hover {
    transform: scale(1.1);
  }
}

.round-corners {
  border-radius: get-unit(2);
}

.space-container {
  margin: get-unit(2 0);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.space-center {
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin: get-unit(2 0);
  display: grid;
  place-items: center;
  gap: get-unit(2);
}

.grid-template-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-template-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-template-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gap-1 {
  gap: get-unit(1);
}

.gap-2 {
  gap: get-unit(2);
}

.gap-4 {
  gap: get-unit(3);
}

.invisible {
  opacity: 0;
}

.svg-mirror {
  transform: scaleX(-1);
}

.grayscale {
  filter: grayscale(0.85);
}

.border {
  border: 1px solid get-color('black');
}

.transparent.transparent {
  background: none;
}

.inline {
  display: inline;
}
