@use './functions' as *;
@use './constants' as c;

@mixin centered-container {
  display: flex;
  justify-content: center;
}

@mixin vertical-centered-container {
  @include centered-container;
  flex-direction: column;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  // box-shadow: 0 5px 7px 0px rgba($color: #000, $alpha: 0.5);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}

@mixin contained {
  background-color: rgba($color: white, $alpha: 0.6);
  padding: get-unit(2);
  border-radius: c.$border-radius;
}

@mixin text-stroke {
  // text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  // -webkit-text-fill-color: get-color('white');
  // -webkit-text-stroke-width: 3px;
  // -webkit-text-stroke-color: get-color('black');
  // -webkit-text-stroke: 2px black;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@mixin text-stroke-white {
  text-shadow: -2px -2px 0 #fff, /* Top-left shadow */ 2px -2px 0 #fff, /* Top-right shadow */ -2px 2px 0 #fff,
    /* Bottom-left shadow */ 2px 2px 0 #fff; /* Bottom-right shadow */
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

// Extra Small devices
@mixin xs {
  @media (max-width: #{c.$screen-xs-max}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{c.$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{c.$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{c.$screen-lg-max}) {
    @content;
  }
}

// Mobile devices
@mixin mobile {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}
