@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url(~antd/dist/antd.css);
/*
 * Converts a value (or list of values) into a standard scale with base 3px
 * Example:
 * get-unit(1) -> 3px
 * get-unit(2 1) -> 3px 6px
 * get-unit(4 2 4 1) -> 12px 6px 12px 3px
 */
/* get-color
 * Determines color and available shades
 * Each color has 9 levels and 5 is the default mid color one
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

.app {
  width: 100%;
  min-height: 100vh !important; }

.home {
  background: red;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .home__logo-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; }
  .home__logo {
    max-width: 75vw;
    min-width: 300px; }
    .home__logo path {
      fill: rgba(255, 255, 255, 0.8); }
  .home__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #3e1e68; }
    .home__background span {
      width: 20vmin;
      height: 20vmin;
      border-radius: 20vmin;
      backface-visibility: hidden;
      position: absolute;
      animation-name: move;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
      .home__background span:nth-child(1) {
        color: #44bba4;
        top: 14%;
        left: 4%;
        animation-duration: 15.5s;
        animation-delay: -2.9s;
        transform-origin: 9vw 7vh;
        box-shadow: -40vmin 0 11.23558vmin currentColor; }
      .home__background span:nth-child(2) {
        color: #3a7ca5;
        top: 74%;
        left: 36%;
        animation-duration: 12.2s;
        animation-delay: -11.8s;
        transform-origin: 18vw 24vh;
        box-shadow: 40vmin 0 7.77688vmin currentColor; }
      .home__background span:nth-child(3) {
        color: #f2e863;
        top: 97%;
        left: 44%;
        animation-duration: 11.9s;
        animation-delay: -13.7s;
        transform-origin: 19vw 5vh;
        box-shadow: -40vmin 0 14.41592vmin currentColor; }
      .home__background span:nth-child(4) {
        color: #3a7ca5;
        top: 89%;
        left: 5%;
        animation-duration: 10.2s;
        animation-delay: -6.6s;
        transform-origin: -24vw 3vh;
        box-shadow: 40vmin 0 6.52381vmin currentColor; }
      .home__background span:nth-child(5) {
        color: #f2e863;
        top: 95%;
        left: 96%;
        animation-duration: 11.3s;
        animation-delay: -11.6s;
        transform-origin: -20vw -9vh;
        box-shadow: -40vmin 0 13.40871vmin currentColor; }
      .home__background span:nth-child(6) {
        color: #f45b69;
        top: 82%;
        left: 89%;
        animation-duration: 12.2s;
        animation-delay: -15.6s;
        transform-origin: 19vw -1vh;
        box-shadow: -40vmin 0 11.76479vmin currentColor; }
      .home__background span:nth-child(7) {
        color: #f45b69;
        top: 33%;
        left: 12%;
        animation-duration: 15.4s;
        animation-delay: -9.1s;
        transform-origin: 25vw -3vh;
        box-shadow: 40vmin 0 12.06783vmin currentColor; }
      .home__background span:nth-child(8) {
        color: #f2e863;
        top: 64%;
        left: 86%;
        animation-duration: 13s;
        animation-delay: -5.5s;
        transform-origin: 14vw -11vh;
        box-shadow: 40vmin 0 6.00382vmin currentColor; }
      .home__background span:nth-child(9) {
        color: #f2e863;
        top: 61%;
        left: 89%;
        animation-duration: 13.3s;
        animation-delay: -14.2s;
        transform-origin: -1vw -1vh;
        box-shadow: -40vmin 0 6.26587vmin currentColor; }
      .home__background span:nth-child(10) {
        color: #f45b69;
        top: 81%;
        left: 64%;
        animation-duration: 10.4s;
        animation-delay: -4.9s;
        transform-origin: -13vw 18vh;
        box-shadow: -40vmin 0 13.37427vmin currentColor; }
      .home__background span:nth-child(11) {
        color: #f45b69;
        top: 74%;
        left: 23%;
        animation-duration: 14.9s;
        animation-delay: -10.5s;
        transform-origin: 4vw 3vh;
        box-shadow: -40vmin 0 11.82751vmin currentColor; }
      .home__background span:nth-child(12) {
        color: #44bba4;
        top: 22%;
        left: 83%;
        animation-duration: 11.7s;
        animation-delay: -14.6s;
        transform-origin: 7vw -2vh;
        box-shadow: 40vmin 0 6.62964vmin currentColor; }
      .home__background span:nth-child(13) {
        color: #44bba4;
        top: 17%;
        left: 77%;
        animation-duration: 14s;
        animation-delay: -14.8s;
        transform-origin: 12vw 4vh;
        box-shadow: 40vmin 0 10.86944vmin currentColor; }
      .home__background span:nth-child(14) {
        color: #f45b69;
        top: 72%;
        left: 74%;
        animation-duration: 14.8s;
        animation-delay: -15.3s;
        transform-origin: 7vw 15vh;
        box-shadow: -40vmin 0 10.81185vmin currentColor; }
      .home__background span:nth-child(15) {
        color: #f45b69;
        top: 57%;
        left: 96%;
        animation-duration: 13s;
        animation-delay: -16s;
        transform-origin: 0vw -6vh;
        box-shadow: -40vmin 0 8.16047vmin currentColor; }
      .home__background span:nth-child(16) {
        color: #f45b69;
        top: 2%;
        left: 41%;
        animation-duration: 15.4s;
        animation-delay: -9.4s;
        transform-origin: -18vw -19vh;
        box-shadow: 40vmin 0 10.21572vmin currentColor; }
      .home__background span:nth-child(17) {
        color: #3a7ca5;
        top: 45%;
        left: 77%;
        animation-duration: 13.5s;
        animation-delay: -11.5s;
        transform-origin: 14vw 9vh;
        box-shadow: -40vmin 0 10.64163vmin currentColor; }
      .home__background span:nth-child(18) {
        color: #44bba4;
        top: 37%;
        left: 20%;
        animation-duration: 12.9s;
        animation-delay: -2.4s;
        transform-origin: 17vw 6vh;
        box-shadow: 40vmin 0 14.19496vmin currentColor; }
      .home__background span:nth-child(19) {
        color: #3a7ca5;
        top: 2%;
        left: 41%;
        animation-duration: 15.1s;
        animation-delay: -1.8s;
        transform-origin: 7vw -4vh;
        box-shadow: -40vmin 0 14.8268vmin currentColor; }
      .home__background span:nth-child(20) {
        color: #3a7ca5;
        top: 54%;
        left: 13%;
        animation-duration: 11.5s;
        animation-delay: -5s;
        transform-origin: -24vw 13vh;
        box-shadow: -40vmin 0 11.34984vmin currentColor; }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }
