@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url(~antd/dist/antd.css);
/*
 * Converts a value (or list of values) into a standard scale with base 4px
 * Example:
 * get-unit(1) -> 4px
 * get-unit(2 1) -> 4px 8px
 * get-unit(4 2 4 -1) -> 16px 8px 16px -4px
 */
/* get-color
 * Determines color and available shades
 * Each color has 9 levels and 5 is the default mid color one
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

.container {
  flex-grow: 1;
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5); }
  .container--white {
    background: white; }
  .container--transparent {
    border: 1px solid white;
    background: transparent; }
  .container--center {
    display: flex;
    justify-content: center;
    align-items: center; }

.center {
  text-align: center; }

.padding {
  padding: 8px; }

.avatar-entry {
  position: relative; }
  .avatar-entry--floating {
    animation: float 6s ease-in-out infinite; }
  .avatar-entry__avatar {
    z-index: 10;
    position: absolute; }
  .avatar-entry__name {
    background: white;
    padding: 4px 16px;
    margin-left: 28px;
    border-radius: 0 16px 16px 0;
    position: absolute;
    transform: translateY(4px); }

@keyframes float {
  0% {
    filter: drop-shadow(0px 10px 4px rgba(34, 34, 34, 0.3));
    transform: translateY(0px); }
  50% {
    filter: drop-shadow(0px 20px 4px rgba(34, 34, 34, 0.1));
    transform: translateY(-10px); }
  100% {
    filter: drop-shadow(0px 10px 4px rgba(34, 34, 34, 0.3));
    transform: translateY(0px); } }

.loading {
  width: 100%;
  display: flex;
  justify-content: center; }
  .loading--margin {
    margin: 16px 0; }

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100vw;
  height: 3px;
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite; }

@keyframes progress-animation {
  0% {
    background-position: 100%; }
  100% {
    background-position: 0; } }

.loading-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.lobby {
  border: 1px solid white;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  height: 100%;
  display: flex; }
  .lobby__room {
    flex: 1;
    display: grid;
    gap: 4px;
    min-height: 80vh;
    margin: 20px;
    grid-template-columns: repeat(9, 1fr [col]);
    grid-template-rows: repeat(6, 1fr [row]); }
  .lobby__seat--0 {
    grid-column: col 2;
    grid-row: row 3; }
  .lobby__seat--1 {
    grid-column: col 6;
    grid-row: row 3; }
  .lobby__seat--2 {
    grid-column: col 1;
    grid-row: row 4; }
  .lobby__seat--3 {
    grid-column: col 7;
    grid-row: row 4; }
  .lobby__seat--4 {
    grid-column: col 1;
    grid-row: row 2; }
  .lobby__seat--5 {
    grid-column: col 7;
    grid-row: row 2; }
  .lobby__seat--6 {
    grid-column: col 2;
    grid-row: row 5; }
  .lobby__seat--7 {
    grid-column: col 6;
    grid-row: row 5; }
  .lobby__seat--8 {
    grid-column: col 2;
    grid-row: row 1; }
  .lobby__seat--9 {
    grid-column: col 6;
    grid-row: row 1; }
  .lobby__seat--10 {
    grid-column: col 1;
    grid-row: row -7; }
  .lobby__seat--11 {
    grid-column: col 7;
    grid-row: row -7; }

.lobby-join {
  background: white;
  grid-column: col 4;
  grid-row: row -7 / row 6;
  justify-self: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 32px 0;
  border-radius: 4px;
  justify-content: center; }
  .lobby-join__title {
    text-align: center; }
  .lobby-join__avatar-selection {
    display: flex;
    align-items: center; }
  .lobby-join__avatar-nav-button {
    height: 100px;
    flex: 1; }
  .lobby-join__avatar-selection-image {
    width: 200px;
    border-radius: 4px;
    margin: 0 8px; }
  .lobby-join__avatar-alert {
    margin: 8px 0; }
  .lobby-join__name-input {
    margin-bottom: 8px; }

.lobby-waiting {
  background: white;
  grid-column: col 4;
  grid-row: row -7 / row 6;
  justify-self: center;
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 32px 0; }
  .lobby-waiting__avatar {
    border-radius: 50%;
    width: 50%;
    min-width: 100px;
    margin: 8px auto; }
  .lobby-waiting__lock-button {
    width: calc(100% - 24px);
    position: absolute;
    bottom: 12px;
    display: flex;
    flex-direction: column; }

.rules-modal {
  width: 500px; }

.rules-carousel {
  background: #6f7273;
  display: flex;
  justify-content: center;
  border-radius: 4px; }
  .rules-carousel__rule {
    padding: 8px;
    text-align: center; }
  .rules-carousel__rule-text {
    text-align: center;
    padding-top: 12px; }
  .rules-carousel__image {
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.3); }

.rules {
  border: 1px solid white;
  border-radius: 4px;
  margin: 16px;
  padding: 16px; }
  .rules__carousel {
    background: rgba(34, 34, 34, 0.2); }
  .rules__rule .rules-carousel__rule-text {
    color: white; }
  .rules__actions {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    padding: 16px;
    background: rgba(34, 34, 34, 0.2); }
  .rules__rule-actions-ready {
    background: #49d156;
    font-style: italic; }

.ready-player-bar {
  display: flex;
  margin: 12px auto;
  justify-content: center;
  align-items: center; }
  .ready-player-bar__speech-bubble {
    position: relative;
    background: white;
    border-radius: 0.4em;
    padding: 8px 16px;
    margin-left: 12px;
    box-shadow: 0 5px 7px 0px rgba(34, 34, 34, 0.1); }
    .ready-player-bar__speech-bubble:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-right-color: white;
      border-left: 0;
      margin-top: -8px;
      margin-left: -8px; }
  .ready-player-bar__speech-bubble-icon {
    margin-left: 8px; }

.draw-phase {
  border: 1px solid white;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center; }

.draw-phase-step-one {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .draw-phase-step-one h1.draw-phase-step-one__title {
    color: white;
    text-align: center; }
  .draw-phase-step-one__round {
    background: rgba(255, 255, 255, 0.3);
    max-width: 350px;
    font-size: 15em;
    aspect-ratio: 1 / 1;
    font-weight: bolder;
    color: white;
    border-radius: 50%;
    border: 20px inset white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto; }
  .draw-phase-step-one__instructions {
    margin: 20px;
    color: white; }

.draw-phase-step-two {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .draw-phase-step-two__card {
    background: white;
    border-radius: 4px;
    min-width: 300px;
    max-width: 600px;
    border: 2px solid #222222;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 5px 7px 0px rgba(34, 34, 34, 0.5);
    margin-bottom: 8px;
    position: relative; }
  .draw-phase-step-two__card-title {
    background: gold;
    color: white;
    font-weight: bold;
    font-size: 1.5em; }
  .draw-phase-step-two__card-text {
    text-transform: uppercase;
    font-size: 1.75em;
    font-weight: bolder;
    padding: 12px 16px 4px; }
  .draw-phase-step-two__card-level {
    color: #a2a2a2; }
  .draw-phase-step-two__timer {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3em;
    width: 2em;
    background: white;
    border-radius: 50%;
    border: 5px solid #fea245;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    box-shadow: 0 5px 7px 0px rgba(34, 34, 34, 0.5);
    animation: pulse 1s ease-in-out infinite; }

@keyframes pulse {
  0% {
    transform: translate(50%, -50%) rotate(35deg) scale(1.2); }
  50% {
    transform: translate(50%, -50%) rotate(10deg) scale(0.75); }
  100% {
    transform: translate(50%, -50%) rotate(35deg) scale(1.2); } }

.canvas {
  width: 500px;
  height: 500px;
  background: white; }

.waiting-room {
  width: 50%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 24px 8px;
  text-align: center; }

.app {
  width: 100%;
  min-height: 100vh !important;
  background: linear-gradient(-45deg, #3e1e68, #44bba4, #3a7ca5, #f2e863, #f45b69, #9261d1, #3e1e68);
  background-size: 1000% 1000%;
  animation: gradient 60s ease infinite;
  display: flex; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .home__logo-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; }
  .home__logo {
    max-width: 75vw;
    min-width: 300px; }
  .home__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #3e1e68; }
    .home__background span {
      width: 20vmin;
      height: 20vmin;
      border-radius: 20vmin;
      backface-visibility: hidden;
      position: absolute;
      animation-name: move;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
      .home__background span:nth-child(1) {
        color: #f45b69;
        top: 50%;
        left: 76%;
        animation-duration: 10.5s;
        animation-delay: -8s;
        transform-origin: -21vw 6vh;
        box-shadow: -40vmin 0 8.98598vmin currentColor; }
      .home__background span:nth-child(2) {
        color: #f2e863;
        top: 57%;
        left: 59%;
        animation-duration: 12.5s;
        animation-delay: -12.6s;
        transform-origin: 8vw 17vh;
        box-shadow: -40vmin 0 11.23443vmin currentColor; }
      .home__background span:nth-child(3) {
        color: #f2e863;
        top: 65%;
        left: 2%;
        animation-duration: 10.8s;
        animation-delay: -12s;
        transform-origin: 23vw 15vh;
        box-shadow: 40vmin 0 10.67988vmin currentColor; }
      .home__background span:nth-child(4) {
        color: #f45b69;
        top: 51%;
        left: 77%;
        animation-duration: 16s;
        animation-delay: -15.8s;
        transform-origin: 18vw 24vh;
        box-shadow: -40vmin 0 7.42936vmin currentColor; }
      .home__background span:nth-child(5) {
        color: #f45b69;
        top: 62%;
        left: 78%;
        animation-duration: 14.6s;
        animation-delay: -9.7s;
        transform-origin: -3vw 15vh;
        box-shadow: -40vmin 0 12.59236vmin currentColor; }
      .home__background span:nth-child(6) {
        color: #3a7ca5;
        top: 100%;
        left: 97%;
        animation-duration: 11.8s;
        animation-delay: -4.1s;
        transform-origin: -15vw 2vh;
        box-shadow: -40vmin 0 10.96768vmin currentColor; }
      .home__background span:nth-child(7) {
        color: #3a7ca5;
        top: 29%;
        left: 54%;
        animation-duration: 15.5s;
        animation-delay: -6.8s;
        transform-origin: 17vw 13vh;
        box-shadow: 40vmin 0 12.29229vmin currentColor; }
      .home__background span:nth-child(8) {
        color: #f45b69;
        top: 98%;
        left: 73%;
        animation-duration: 15.8s;
        animation-delay: -13s;
        transform-origin: -14vw 0vh;
        box-shadow: 40vmin 0 14.95767vmin currentColor; }
      .home__background span:nth-child(9) {
        color: #3a7ca5;
        top: 71%;
        left: 46%;
        animation-duration: 13.7s;
        animation-delay: -4.1s;
        transform-origin: -14vw -2vh;
        box-shadow: 40vmin 0 12.70661vmin currentColor; }
      .home__background span:nth-child(10) {
        color: #44bba4;
        top: 40%;
        left: 70%;
        animation-duration: 10.9s;
        animation-delay: -7.2s;
        transform-origin: 20vw 11vh;
        box-shadow: 40vmin 0 12.03931vmin currentColor; }
      .home__background span:nth-child(11) {
        color: #3a7ca5;
        top: 16%;
        left: 68%;
        animation-duration: 11.2s;
        animation-delay: -15.5s;
        transform-origin: -21vw -2vh;
        box-shadow: 40vmin 0 14.93466vmin currentColor; }
      .home__background span:nth-child(12) {
        color: #3a7ca5;
        top: 84%;
        left: 96%;
        animation-duration: 11.8s;
        animation-delay: -14.8s;
        transform-origin: -9vw 4vh;
        box-shadow: 40vmin 0 8.67499vmin currentColor; }
      .home__background span:nth-child(13) {
        color: #f45b69;
        top: 88%;
        left: 80%;
        animation-duration: 10.2s;
        animation-delay: -11.2s;
        transform-origin: -9vw -20vh;
        box-shadow: -40vmin 0 6.48282vmin currentColor; }
      .home__background span:nth-child(14) {
        color: #f2e863;
        top: 62%;
        left: 15%;
        animation-duration: 11.7s;
        animation-delay: -0.1s;
        transform-origin: 22vw 12vh;
        box-shadow: -40vmin 0 7.08984vmin currentColor; }
      .home__background span:nth-child(15) {
        color: #f2e863;
        top: 68%;
        left: 29%;
        animation-duration: 14s;
        animation-delay: -16s;
        transform-origin: -8vw 9vh;
        box-shadow: 40vmin 0 9.27663vmin currentColor; }
      .home__background span:nth-child(16) {
        color: #f45b69;
        top: 39%;
        left: 46%;
        animation-duration: 13s;
        animation-delay: -3.4s;
        transform-origin: 14vw -4vh;
        box-shadow: -40vmin 0 10.62028vmin currentColor; }
      .home__background span:nth-child(17) {
        color: #f2e863;
        top: 70%;
        left: 61%;
        animation-duration: 15.5s;
        animation-delay: -14.8s;
        transform-origin: -16vw -12vh;
        box-shadow: -40vmin 0 7.07424vmin currentColor; }
      .home__background span:nth-child(18) {
        color: #f2e863;
        top: 22%;
        left: 89%;
        animation-duration: 12.9s;
        animation-delay: -14.6s;
        transform-origin: -18vw -21vh;
        box-shadow: -40vmin 0 6.41449vmin currentColor; }
      .home__background span:nth-child(19) {
        color: #f45b69;
        top: 75%;
        left: 24%;
        animation-duration: 14.1s;
        animation-delay: -2.1s;
        transform-origin: 20vw -20vh;
        box-shadow: 40vmin 0 6.50224vmin currentColor; }
      .home__background span:nth-child(20) {
        color: #3a7ca5;
        top: 8%;
        left: 89%;
        animation-duration: 11.4s;
        animation-delay: -15.3s;
        transform-origin: -11vw 6vh;
        box-shadow: 40vmin 0 7.70868vmin currentColor; }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login__content {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 12px; }
  .login__logo {
    display: flex;
    justify-content: center;
    margin: 8px 0 16px 0; }
  .login__form-action {
    text-align: center; }
  .login__error-alert {
    margin: 16px 0; }
