@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url(~antd/dist/antd.css);
/*
 * Converts a value (or list of values) into a standard scale with base 3px
 * Example:
 * get-unit(1) -> 3px
 * get-unit(2 1) -> 3px 6px
 * get-unit(4 2 4 1) -> 12px 6px 12px 3px
 */
/* get-color
 * Determines color and available shades
 * Each color has 9 levels and 5 is the default mid color one
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

.container {
  flex-grow: 1;
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5); }
  .container--white {
    background: white; }

.text-centered {
  text-align: center; }

.rules-modal {
  width: 500px; }
  .rules-modal__rules {
    background: #a8aaae; }
  .rules-modal__rule {
    padding: 8px; }

.app {
  width: 100%;
  min-height: 100vh !important;
  background: linear-gradient(-45deg, #3e1e68, #44bba4, #3a7ca5, #f2e863, #f45b69, #9261d1, #3e1e68);
  background-size: 1000% 1000%;
  animation: gradient 60s ease infinite;
  display: flex; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .home__logo-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; }
  .home__logo {
    max-width: 75vw;
    min-width: 300px; }
  .home__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #3e1e68; }
    .home__background span {
      width: 20vmin;
      height: 20vmin;
      border-radius: 20vmin;
      backface-visibility: hidden;
      position: absolute;
      animation-name: move;
      animation-duration: 6s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
      .home__background span:nth-child(1) {
        color: #f2e863;
        top: 90%;
        left: 51%;
        animation-duration: 12.7s;
        animation-delay: -3.8s;
        transform-origin: -14vw 1vh;
        box-shadow: -40vmin 0 10.66702vmin currentColor; }
      .home__background span:nth-child(2) {
        color: #f2e863;
        top: 79%;
        left: 62%;
        animation-duration: 15.1s;
        animation-delay: -8.1s;
        transform-origin: 0vw -17vh;
        box-shadow: -40vmin 0 14.4834vmin currentColor; }
      .home__background span:nth-child(3) {
        color: #f2e863;
        top: 33%;
        left: 53%;
        animation-duration: 12s;
        animation-delay: -6s;
        transform-origin: -5vw -14vh;
        box-shadow: 40vmin 0 13.00506vmin currentColor; }
      .home__background span:nth-child(4) {
        color: #44bba4;
        top: 39%;
        left: 53%;
        animation-duration: 12.8s;
        animation-delay: -3.1s;
        transform-origin: -16vw -11vh;
        box-shadow: 40vmin 0 9.13903vmin currentColor; }
      .home__background span:nth-child(5) {
        color: #f45b69;
        top: 38%;
        left: 97%;
        animation-duration: 14.8s;
        animation-delay: -10.6s;
        transform-origin: 0vw 21vh;
        box-shadow: 40vmin 0 6.82308vmin currentColor; }
      .home__background span:nth-child(6) {
        color: #f45b69;
        top: 10%;
        left: 6%;
        animation-duration: 15.8s;
        animation-delay: -3.8s;
        transform-origin: -16vw 3vh;
        box-shadow: -40vmin 0 7.35528vmin currentColor; }
      .home__background span:nth-child(7) {
        color: #f45b69;
        top: 76%;
        left: 27%;
        animation-duration: 12.9s;
        animation-delay: -14.1s;
        transform-origin: 0vw -16vh;
        box-shadow: 40vmin 0 7.8796vmin currentColor; }
      .home__background span:nth-child(8) {
        color: #44bba4;
        top: 74%;
        left: 18%;
        animation-duration: 10.8s;
        animation-delay: -5.8s;
        transform-origin: 24vw 10vh;
        box-shadow: 40vmin 0 8.34509vmin currentColor; }
      .home__background span:nth-child(9) {
        color: #44bba4;
        top: 31%;
        left: 47%;
        animation-duration: 10.9s;
        animation-delay: -6.5s;
        transform-origin: 0vw 24vh;
        box-shadow: -40vmin 0 9.02237vmin currentColor; }
      .home__background span:nth-child(10) {
        color: #f45b69;
        top: 8%;
        left: 34%;
        animation-duration: 13.8s;
        animation-delay: -12.3s;
        transform-origin: -22vw 3vh;
        box-shadow: 40vmin 0 10.02068vmin currentColor; }
      .home__background span:nth-child(11) {
        color: #3a7ca5;
        top: 65%;
        left: 2%;
        animation-duration: 11.8s;
        animation-delay: -14.7s;
        transform-origin: 13vw -14vh;
        box-shadow: -40vmin 0 13.02422vmin currentColor; }
      .home__background span:nth-child(12) {
        color: #3a7ca5;
        top: 79%;
        left: 74%;
        animation-duration: 13.1s;
        animation-delay: -0.5s;
        transform-origin: -3vw -10vh;
        box-shadow: 40vmin 0 9.6057vmin currentColor; }
      .home__background span:nth-child(13) {
        color: #f2e863;
        top: 98%;
        left: 35%;
        animation-duration: 14.4s;
        animation-delay: -1.9s;
        transform-origin: -9vw 17vh;
        box-shadow: 40vmin 0 11.26234vmin currentColor; }
      .home__background span:nth-child(14) {
        color: #f45b69;
        top: 51%;
        left: 27%;
        animation-duration: 11.6s;
        animation-delay: -13.1s;
        transform-origin: -16vw 18vh;
        box-shadow: -40vmin 0 9.31973vmin currentColor; }
      .home__background span:nth-child(15) {
        color: #3a7ca5;
        top: 29%;
        left: 36%;
        animation-duration: 12.6s;
        animation-delay: -6.4s;
        transform-origin: 22vw 5vh;
        box-shadow: -40vmin 0 14.27654vmin currentColor; }
      .home__background span:nth-child(16) {
        color: #3a7ca5;
        top: 11%;
        left: 55%;
        animation-duration: 12.1s;
        animation-delay: -10.4s;
        transform-origin: -3vw -7vh;
        box-shadow: 40vmin 0 14.57917vmin currentColor; }
      .home__background span:nth-child(17) {
        color: #f2e863;
        top: 58%;
        left: 65%;
        animation-duration: 16s;
        animation-delay: -4.2s;
        transform-origin: 17vw 18vh;
        box-shadow: 40vmin 0 13.28993vmin currentColor; }
      .home__background span:nth-child(18) {
        color: #3a7ca5;
        top: 94%;
        left: 97%;
        animation-duration: 12.9s;
        animation-delay: -14.6s;
        transform-origin: 2vw 17vh;
        box-shadow: 40vmin 0 13.05641vmin currentColor; }
      .home__background span:nth-child(19) {
        color: #3a7ca5;
        top: 89%;
        left: 43%;
        animation-duration: 12.9s;
        animation-delay: -12.3s;
        transform-origin: 23vw -23vh;
        box-shadow: 40vmin 0 13.11742vmin currentColor; }
      .home__background span:nth-child(20) {
        color: #44bba4;
        top: 50%;
        left: 74%;
        animation-duration: 14.2s;
        animation-delay: -5.7s;
        transform-origin: 1vw -7vh;
        box-shadow: 40vmin 0 7.63303vmin currentColor; }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login__content {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 12px; }
  .login__logo {
    display: flex;
    justify-content: center;
    margin: 8px 0 16px 0; }
  .login__form-action {
    text-align: center; }
  .login__error-alert {
    margin: 16px 0; }
