.admin-only-container {
  max-width: 100%;
  border: 1px solid get-color(red);
  background: rgba(red, 0.2);
  padding: get-unit(2);
  margin: get-unit(2 0);
  display: flex;
  justify-content: center;
}

.admin-menu {
  &__affix {
    position: absolute;
    bottom: -8px;
    left: 8px;
    transform: translateY(-50%);
    z-index: 100;
  }

  &__affix-button {
    background: rgba(white, 0.5);
    border: 1px solid get-color(white);
    color: get-color(black);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.2);
    }
  }
}

// &__affix-button {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   z-index: 100;
// }

// &__button {
//   background: rgba(white, 0.5);
//   border: 1px solid get-color(white);
//   color: get-color(black);
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   &:hover {
//     transform: scale(1.2);
//   }
// }
