.admin-only-container {
  max-width: 100%;
  border: 1px solid get-color(red);
  background: rgba(red, 0.2);
  padding: get-unit(2);
  margin: get-unit(2 0);
  display: flex;
  justify-content: center;
}

.admin-menu {
  &__affix-button {
    position: absolute;
    bottom: -8px;
    left: 8px;
    transform: translateY(-50%);
    z-index: 100;
  }
}
