.admin-only-container {
  max-width: 100%;
  background-color: get-color('red', 5, 0.5);
  padding: get-unit(2);
  margin: get-unit(2 0);
  display: flex;
  justify-content: center;
  border-radius: get-unit(2);

  &__legend {
    background-color: get-color('red');
    padding: get-unit(2);
    font-size: 0.8rem;
    color: get-color('white');
    border-radius: get-unit(2);
  }
}

.admin-menu-drawer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 150;

  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin: get-unit(1 0);
  }
}

.admin-players-ready-state {
  &__entry {
    display: flex;
    margin: get-unit(1 0);
    border-bottom: 1px get-color('gray', 1) dashed;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    line-height: 1rem;
  }

  &__item {
    background-color: get-color('gray', 1);
    padding: get-unit(0 1);
    margin: get-unit(0 1);
    border-radius: get-unit(2);
  }
}
