@use "styles/sass" as *;

.adminMenuDrawer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 150;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  margin: get-unit(1 0);
}
