@use "styles/sass" as *;

.home {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  position: relative;

  &__logo-container {
    width: 100vw;
    height: 90vh;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
  }

  &__logo {
    max-width: 75vw;
    min-width: 300px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
    opacity: 1;

    @include lg {
      width: 40vw;
    }
  }

  &__input {
    min-width: 320px;
    max-width: 80vw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-top: get-unit(4);
    padding: get-unit(3);
    border-radius: get-unit(2);
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    input {
      text-align: center;
      text-transform: uppercase;
    }

    &--hovered {
      outline: 3px solid get-color("pink");
    }

    &--not-hovered {
      outline: 3px solid get-color("blue");
      opacity: 0 !important;
      transition: opacity 0.3s ease-in-out !important;
    }

    &--hover-effect {
      opacity: 0 !important;
      transition: opacity 0.3s ease-in-out !important;
    }

    &--has-input,
    &:hover,
    &[data-hover-state="active"] {
      opacity: 1 !important;
    }
  }

  &__buttons {
    margin-top: get-unit(4);
    // margin-bottom: 30px;
  }
}
