.card {
  $self: &;

  background-color: get-color('white');
  border-radius: get-unit(1);
  min-width: 150px;
  max-width: 300px;
  border: 2px solid get-color('black');
  min-height: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 5px 7px 0px rgba($color: #000, $alpha: 0.5);
  margin: get-unit(2);
  position: relative;

  &--small {
    min-width: 75px;
    min-height: 8px;
  }

  &--large {
    min-width: 300px;
    min-height: 30px;
  }

  &__header {
    background-color: get-color('gray');
    color: get-color('white');
    font-weight: bold;
    font-size: 0.75em;

    #{$self}--large & {
      font-size: 1.5em;
    }

    #{$self}--small & {
      font-size: 0.75em;
    }
  }

  &__text {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bolder;
    padding: get-unit(3 4 1);
    font-family: 'Zilla Slab', serif;

    #{$self}--large & {
      font-size: 1.75em;
    }

    #{$self}--small & {
      font-size: 0.75em;
      padding: get-unit(2 3 1);
    }
  }

  &__footer {
    color: get-color('white', 8);
    font-size: 0.5em;

    #{$self}--large & {
      font-size: 1em;
    }
  }
}

.image-card {
  border-radius: get-unit(3);
  margin: get-unit(1);
  transition: 500ms transform;

  &__preview-mask {
    border-radius: get-unit(3);
  }

  &:hover {
    transform: scale(1.05);
  }

  .ant-image-img {
    border-radius: get-unit(3);
  }

  &--blur {
    filter: blur(10px);
  }
}

.image-card-hand {
  display: flex;
  width: 100%;
  max-width: 94vw;
  overflow-x: auto;
  padding: get-unit(2);

  background-color: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 12, 42, 1) 15%,
    rgba(15, 13, 50, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );

  &__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: get-unit(1);
  }
}

.image-card-preload-hand {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.image-card-back {
  border-radius: get-unit(3);
  margin: get-unit(1);
  transition: 500ms transform;

  .ant-image-img {
    border-radius: get-unit(3);
  }
}

.s-clue-card {
  font-size: 0.8rem;

  &__footer {
    font-size: 0.75em;
  }

  &__previous--clue {
    border-top: 1px dashed get-color('gray', 1);
    font-size: 0.85em;
    color: get-color('gray', 4);
  }
}

.image-blur-button {
  transform: scale(0.8);
}

.image-blur-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floating-hand-added-white-space {
  width: 1px;
  height: 50px;
}

.floating-hand {
  $self: &;
  position: fixed;
  bottom: 0;
  left: 50%;
  min-height: 100px;

  min-width: 40vw;
  border-radius: get-unit(3 3 0 0);
  background-color: rgba($color: #f0f0f0, $alpha: 0.9);
  padding: get-unit(3 2 6 2);
  z-index: 149;

  transition: 500ms all;
  transform: translate(-50%, calc(100% - 50px));
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.4);

  &--expanded {
    bottom: get-unit(-1);
    transform: translate(-50%);
    background-color: rgba($color: get-color('gray', 3), $alpha: 1);
    box-shadow: 0px -15px 30px rgba(0, 0, 0, 0.2);
  }

  &__children {
    max-height: 70vh;
    overflow-y: hidden;
    transform: scale(60%);
    transition: 700ms transform;

    #{$self}--expanded & {
      transform: scale(100%);
      overflow-y: auto;
    }
  }

  &__label {
    color: get-color('gray', 4);
    width: 100%;
    display: block;
    transition: all 500ms;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    #{$self}--expanded & {
      font-size: 1.2rem;
      color: get-color('black');
    }
  }

  &__label-text {
    transition: all 500ms;
    margin-left: get-unit(3);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 1rem;
  }

  &__label-text-hint {
    transition: all 250ms;
    font-size: 0.75rem;
    font-style: italic;

    #{$self}--expanded & {
      font-size: 0rem;
    }
  }

  &__icon {
    filter: grayscale(0.75);

    #{$self}--expanded & {
      filter: grayscale(0);
    }
  }

  @include mobile {
    position: initial;

    transform: none;

    &__label {
      font-size: 0rem;
    }
  }

  @include xs {
    &__label {
      font-size: 1rem;
    }
  }
}

.image-card-select-button {
  position: absolute;
  bottom: get-unit(4);
  left: 50%;
  transform: translateX(-50%);

  &:hover.ant-btn {
    background-color: get-color('white');
    color: get-color('yellow');
    border-color: get-color('yellow');
  }
}
