.card {
  $self: &;

  background: get-color(white);
  border-radius: get-unit(1);
  min-width: 150px;
  max-width: 300px;
  border: 2px solid get-color(black);
  min-height: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 5px 7px 0px rgba($color: #000, $alpha: 0.5);
  margin: get-unit(2);
  position: relative;

  &--small {
    min-width: 75px;
    min-height: 8px;
  }

  &--large {
    min-width: 300px;
    min-height: 30px;
  }

  &__header {
    background: get-color(gray);
    color: get-color(white);
    font-weight: bold;
    font-size: 0.75em;

    #{$self}--large & {
      font-size: 1.5em;
    }

    #{$self}--small & {
      font-size: 0.75em;
    }
  }

  &__text {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bolder;
    padding: get-unit(3 4 1);

    #{$self}--large & {
      font-size: 1.75em;
    }

    #{$self}--small & {
      font-size: 0.75em;
      padding: get-unit(2 3 1);
    }
  }

  &__footer {
    color: get-color(black, 1);
    font-size: 0.5em;

    #{$self}--large & {
      font-size: 1em;
    }
  }
}

.image-card {
  border-radius: get-unit(3);
  margin: get-unit(1);
  transition: 500ms transform;

  &__preview-mask {
    border-radius: get-unit(3);
  }

  &:hover {
    transform: scale(1.05);
  }

  .ant-image-img {
    border-radius: get-unit(3);
  }
}

.image-card-hand {
  display: flex;
  width: 100%;
  max-width: 94vw;
  overflow-x: auto;
  padding: get-unit(2);
  justify-content: center;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 12, 42, 1) 15%,
    rgba(15, 13, 50, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );

  &__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: get-unit(1);
  }

  &--blur {
    filter: blur(10px);
  }
}
