@use "styles/sass" as *;

.book-pattern-card {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  position: relative;

  &__letter {
    @include flex-center;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: get-color("white");
    background: get-color("gray", 5);
    padding: 0.1rem 1rem;
    text-align: center;
    width: 2.5rem;
    border-radius: 1rem;

    z-index: 1;
  }
}
