@use "styles/sass" as *;
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.character-card {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: var(--border-radius);

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__image {
    margin: 0;
    padding: 0;

    &--blur {
      filter: blur(10px);
    }
  }

  &__name {
    font-family: "Bangers", monospace;
    position: absolute;
    bottom: get-unit(1);
    left: get-unit(1);
    text-align: left;
    z-index: 2;
    color: get-color("white");
    text-shadow: 2px 2px 2px #000;
    letter-spacing: 2px;
    overflow-y: hidden;
    font-size: 1.25rem;
    line-height: 1rem;
  }
}
