@use "styles/sass" as *;

.movie-card {
  background-color: get-color("white", 5, 0.6);
  padding: get-unit(2);
  border-radius: $border-radius;
  width: 275px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: get-unit(6);

  &__suffix {
    background-color: get-color("white", 5, 0.6);
    padding: get-unit(2);
    border-radius: get-unit(0 0 6 6);
    text-wrap: nowrap;

    &--disabled {
      opacity: 0.25;
    }
  }

  &__prefix {
    background-color: get-color("white", 5, 0.6);
    padding: get-unit(2);
    border-radius: get-unit(6 6 0 0);
    text-wrap: nowrap;

    &--disabled {
      opacity: 0.25;
    }
  }
}
