@use "styles/sass" as *;
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

.suspectCard {
  position: relative;
}

.suspectCardImage {
  margin: 0;

  & > .ant-image {
    max-width: 250px;
  }

  &:hover {
    transform: scale(1);
  }
}

.suspectCardImageActive {
  border: 3px solid gold;
  border-radius: get-unit(4);
}

.suspectCardImageDisabled {
  cursor: not-allowed;
}

.suspectCardName {
  font-family: "Leckerli One", cursive;
  white-space: nowrap;
  display: inline-flex;
  gap: 0.3em;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
