@use 'styles/sass' as *;

.classifier {
  max-width: 100%;

  &__grid {
    align-items: start;

    @include sm {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    & .ant-space-item {
      position: sticky;
      top: get-unit(4);
    }
  }

  &__item {
    align-self: start;
    align-items: center;
    position: sticky;
    top: get-unit(4);
  }

  &__attributes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  &__entry {
    background: get-color('gray', 1, 0.5);
    align-items: center;
    border-radius: $border-radius;
    padding: get-unit(1);
  }

  &__verifiers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: get-unit(2);
    margin: get-unit(3 auto);

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__navigation {
    justify-content: space-between;
    width: 100%;
  }

  &__verifier {
    border: 1px solid get-color('white', 6);
    border-radius: $border-radius;
    padding: get-unit(1 4);
  }

  &__grouping-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: get-unit(2);
  }

  &__grouping-name {
    display: flex;
    align-items: center;
    max-width: 100px;
    overflow: hidden;
  }

  &__active-item.item-card {
    background: get-color('yellow', 5, 0.6);
  }
}

.quick-edit-modal {
  display: grid;
  grid-template-columns: auto auto;
}

.sign-attribute {
  display: block;
  max-width: 55px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &__very {
    border-bottom: 2px solid get-color('gray', 8);
  }

  &__not {
    border-top: 2px solid get-color('red', 6);
  }
}

.priority-attributes {
  display: grid;
  grid-template-columns: repeat(10, 65px);
}

.sign {
  display: grid;
  place-items: center;
}

.category-container {
  border: 1px solid get-color('gray', 1, 0.5);
  border-radius: get-unit(1);
  padding: get-unit(1);
}
