@use "styles/sass" as *;

.container-wrapper {
  margin: get-unit(2 0);
  width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 0;

  &__children {
    width: 100%;
    justify-content: center;
    align-items: center;

    &--contained {
      @include contained;
    }
  }
}
