@use "styles/sass" as *;

.containerWrapper {
  margin: get-unit(2 0);
  width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 0;
}

.containerWrapperChildren {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.containerWrapperChildrenContained {
  @include contained;
}
