.m-step {
  width: 100%;
  max-width: 1360px;

  &__contained-content {
    max-width: 60%;
    margin: 0 auto;
  }
}

.m-pasture {
  width: 100%;
  position: relative;
  min-height: 10vh;

  &__background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__fence {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
  }
}

.m-pasture-names {
  display: block;
}

.m-enclosure-names {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: get-unit(1 2);
  padding: get-unit(0 1);
  border-radius: get-unit(1);
}

.m-enclosures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.65fr;
  height: 100%;
}

.m-enclosure {
  position: relative;
}

.m-sheep {
  width: 50px;
  display: block;
  position: absolute;
  bottom: 12%;
  left: 0;
  transition: all 1000ms;

  &--pos-0 {
    z-index: 86;
    bottom: 10%;
    left: 30%;
  }

  &--pos-1 {
    z-index: 80;
    bottom: 22%;
    left: 15%;
  }

  &--pos-2 {
    z-index: 80;
    bottom: 22%;
    left: 45%;
  }

  &--pos-3 {
    z-index: 85;
    bottom: 12%;
    left: 5%;
  }

  &--pos-4 {
    z-index: 85;
    bottom: 12%;
    left: 55%;
  }

  &--pos-5 {
    z-index: 75;
    bottom: 28%;
    left: 1%;
  }

  &--pos-6 {
    z-index: 75;
    bottom: 28%;
    left: 60%;
  }

  &--pos-7 {
    z-index: 73;
    bottom: 30%;
    left: 30%;
  }

  &--animate-right {
    animation: move-sheep-right 2000ms ease-in-out forwards;
  }

  &--animate-left {
    animation: move-sheep-left 2000ms ease-in-out forwards;
  }

  &--animate-rebound {
    animation: move-sheep-rebound 1000ms ease-in-out forwards;
  }

  &--animate-die {
    animation: sheep-die 500ms ease-in forwards;
  }
}

.m-question {
  width: 100%;
  font-size: 1.25em;
  border-radius: get-unit(5);
  margin: get-unit(1 0);
  padding: get-unit(1 2);

  &--button {
    cursor: pointer;
  }

  &--span {
    display: block;
    background: white;
    font-size: 1.25rem;
  }

  &__number {
    background: gold;
    border-radius: 50%;
    display: inline-block;
    width: 1.5em;
    margin: get-unit(0 2);
  }
}

.m-round-type {
  @include contained;
  text-align: center;
  margin: get-unit(2);

  &__arrows {
    margin-bottom: -20px;
  }

  &__arrow {
    width: 80px;
    margin: get-unit(0 1);

    &--1 {
      transform: rotate(4deg);
    }
    &--2 {
      transform: rotate(-3deg);
    }
    &--3 {
      transform: rotate(6deg);
    }
    &--0 {
      transform: rotate(182deg);
    }
  }
}

.m-answers {
  font-family: 'Architects Daughter', cursive;
  padding: get-unit(2);
  background: get-color(white);

  &__item {
    margin-left: get-unit(6);
    font-size: 1.25rem;
    border-bottom: 1px dashed get-color(blue, 4);
  }

  &__input {
    border: none;
  }
}

.m-answer-group {
  &__answer-container {
    display: flex;
    justify-content: center;
  }

  &__answer {
    display: inline;
    text-align: center;
    padding: get-unit(4 10);
    background: get-color(white);
    border-radius: get-unit(8);
    position: relative;
    @include box-shadow;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: get-color(white);
      border-bottom: 0;
      margin-left: -10px;
      margin-bottom: -10px;
    }
  }

  &__speech-bubble-small {
    margin-top: get-unit(2);
    text-align: center;
    background: get-color(white);
    border-radius: get-unit(2);
    position: relative;
    @include box-shadow;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: get-color(white);
      border-top: 0;
      margin-left: -10px;
      margin-top: -10px;
    }
  }

  &__players {
    margin: get-unit(5 2 2 2);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__player {
    margin: get-unit(1 2);
    display: flex;
    flex-direction: column;
  }

  &__allow-add {
    text-align: center;
  }
}

.m-admin {
  flex-direction: column;

  &__players-answers {
    margin-top: get-unit(6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__answer {
    margin: get-unit(1);
  }
}

.m-question-card {
  width: 100%;
  max-width: 70vw;
  min-width: 400px;
  margin: get-unit(2 auto);
}

.m-save-card {
  animation: scale-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.m-game-over-in-memoriam {
  margin-top: get-unit(6);
}

.m-sheep-rip {
  margin-top: get-unit(4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__entry {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes move-sheep-right {
  0% {
    transform: scale(1, 1) translate(0);
  }
  50% {
    transform: scale(2) translate(100%, -50%) rotate(360deg);
  }
  100% {
    transform: scale(1, 1) translate(350%) rotate(720deg);
  }
}

@keyframes move-sheep-left {
  0% {
    transform: scale(1, 1) translate(0);
  }
  50% {
    transform: scale(2) translate(-100%, -50%) rotate(360deg);
  }
  100% {
    transform: scale(1, 1) translate(-350%) rotate(720deg);
  }
}

@keyframes move-sheep-rebound {
  0% {
    transform: scale(1, 1) translate(0);
  }
  50% {
    transform: scale(2) translate(100%, -50%) rotate(360deg);
  }
  100% {
    transform: scale(1, 1) translate(0);
  }
}

@keyframes scale-in-top {
  0% {
    transform: scale(0);
    transform-origin: 50% 0%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }
}

@keyframes sheep-die {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10%);
  }
  15% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: scale(0.1) translateY(600%);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.1) translateY(700%);
    opacity: 0;
  }
}
