@use 'styles/sass' as *;
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.suggestion-easel {
  &__input {
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
  }
}
