@use "styles/sass" as *;

.host-button.host-button {
  background: get-color("orange");
  border: 1px solid get-color("orange", 2);
  color: get-color("orange", 1);

  &.host-button.host-button:not(:disabled):hover {
    background: get-color("orange", 3);
    border: 1px solid get-color("orange", 7);
    color: get-color("orange", 7);
  }
}

.host-button-timer {
  margin-right: get-unit(1);
  padding: get-unit(0 2);
  background: get-color("white", 5, 0.5);
  border-radius: var(--border-radius);
  color: get-color("white");
  display: inline-block;
}
