.achievements {
  @include contained;
  margin: get-unit(8 4);
}

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.achievements-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include contained;
  margin: get-unit(2 3);
  padding: get-unit(2);
  min-width: 20%;
}
