@use "styles/sass" as *;

.floatingHandAddedWhiteSpace {
  width: 1px;
  height: 50px;
}

.floatingHand {
  position: fixed;
  bottom: 0;
  left: 50%;
  min-height: 100px;

  min-width: 40vw;
  border-radius: get-unit(3 3 0 0);
  background-color: rgba($color: #f0f0f0, $alpha: 0.9);
  padding: get-unit(3 2 6 2);
  z-index: 149;

  transition: 500ms all;
  transform: translate(-50%, calc(100% - 50px));
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.4);

  &.floatingHandExpanded {
    bottom: get-unit(-1);
    transform: translate(-50%);
    background-color: rgba($color: get-color("gray", 3), $alpha: 1);
    box-shadow: 0px -15px 30px rgba(0, 0, 0, 0.2);
  }
}

.floatingHandChildren {
  max-height: 70vh;
  overflow-y: hidden;
  transform: scale(60%);
  transition: 700ms transform;

  .floatingHandExpanded & {
    transform: scale(100%);
    overflow-y: auto;
  }
}

.floatingHandLabel {
  color: get-color("gray", 4);
  width: 100%;
  display: block;
  transition: all 500ms;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .floatingHandExpanded & {
    font-size: 1.2rem;
    color: get-color("black");
  }
}

.floatingHandLabelText {
  transition: all 500ms;
  margin-left: get-unit(3);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 1rem;
}

.floatingHandLabelTextHint {
  transition: all 250ms;
  font-size: 0.75rem;
  font-style: italic;

  .floatingHandExpanded & {
    font-size: 0rem;
  }
}

.floatingHandIcon {
  filter: grayscale(0.75);

  .floatingHandExpanded & {
    filter: grayscale(0);
  }
}

@include mobile {
  .floatingHand {
    position: initial;
    transform: none;
  }

  .floatingHandLabelTextHint {
    display: none;
  }

  .floatingHandChildren {
    max-height: 960vh;
    overflow-y: auto;
    transform: scale(100%);
  }
}

@include xs {
  .floatingHandLabel {
    font-size: 1rem;
  }
}

.floatingHandDrawer {
  &WhiteSpace {
    width: 1px;
    min-height: 378px;
    content: " ";
  }

  &Button {
    display: block;
    width: clamp(200px, 50vw, 800px);
    position: fixed;
    bottom: 0;
    z-index: 15;

    padding: get-unit(4 2);
    border: none;
    border-top-left-radius: get-unit(3);
    border-top-right-radius: get-unit(3);
    background-color: get-color("white", 6);

    &:hover {
      background-color: get-color("white", 5);
    }
  }

  &Label {
    width: 100%;
    display: block;
    transition: all 500ms;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &LabelOpen {
    cursor: pointer;
  }

  &LabelText {
    transition: all 500ms;
    margin-left: get-unit(3);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 1rem;
  }

  &LabelTextHint {
    transition: all 250ms;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: normal;
    color: get-color("gray", 3);
  }
}
