@use "styles/sass" as *;

.game-video {
  position: relative;
  overflow: hidden;
  width: 100vw;

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.5s;

    &--hidden {
      opacity: 0;
    }
  }
}
