@use "styles/sass" as *;

.gameTagsGroup {
  display: flex;
  flex-wrap: wrap;

  border: 1px solid get-color("white", 6);
  border-radius: var(--border-radius);
}

.gameTagsGroupIcon {
  padding: get-unit(1);
  border-radius: var(--border-radius);
  font-size: get-font-size("small");
  color: get-color("black", 6);
  border-left: 1px solid get-color("white", 6);
  border-right: 1px solid get-color("white", 6);
}
