@use 'styles/sass' as *;

$door-base-color: #3d1931;

.i-background.i-background {
  background: linear-gradient(-45deg, #676666, #915f80, #786f3e, #743e62);
  background-size: 1000% 1000%;
}

.i-corridor {
  @include flex-center;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), $door-base-color);
  padding: get-unit(1);
  width: 100%;
  margin-top: get-unit(2);
}

.i-door {
  margin: get-unit(1);
  border: 3px solid transparent;

  &--answer {
    border: 3px dashed get-color('yellow', 5);
  }

  &__options {
    margin-top: get-unit(-1);
    padding: get-unit(1);
    background-color: $door-base-color;
    border-radius: get-unit(4 4 0 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__votes {
    padding: get-unit(1);
    justify-content: center;
  }
}

.i-book-container {
  @include flex-center;
  width: 100%;
  background-color: $door-base-color;
  padding: get-unit(1 1 2 1);
  border-radius: get-unit(0 0 1 1);
  margin-bottom: get-unit(1);
}

.i-sepia-card {
  filter: sepia(1) blur(1px) !important;
}

.image-preview-sepia {
  // Intercepts image preview to make then look like cards
  .ant-image-preview-img {
    border-radius: get-unit(8);
    filter: sepia(1) blur(2px) !important;
  }
}

.i-trap-description {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

.i-sand-timer-container {
  position: relative;
}

.i-sand-timer {
  width: 8ch;
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  right: get-unit(-2);
  top: 50%;
  transform: translate(100%, -50%);
  @include contained;
  @include flex-center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding-right: get-unit(4);

  &--negative {
    border: get-color('red', 7, 0.8) 1px solid;
    background-color: get-color('red', 2, 0.6);
  }
}
