.u-word-guess-phase {
  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__suggestions {
    display: flex;
    flex-wrap: wrap;
    margin: get-unit(10);
  }

  &__guess-submit {
    margin-top: get-unit(2);
  }
}
