@use 'styles/sass' as *;

.background {
  background: linear-gradient(-45deg, #244997, #a81515, #3968ce, #ac1111);
  background-size: 1000% 1000%;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, 1fr);
  gap: get-unit(3);
  justify-items: stretch;
  align-items: stretch;
}

.movie-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  padding: get-unit(2);
}

.movie-container {
  position: relative;
}

.movie-players {
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  z-index: 15;

  &--right {
    right: 0;
  }
}

.movie-button {
  $self: &;

  &--selected {
    outline: get-color('yellow') solid 5px;
  }
}
