.e-list {
  width: 100%;
  min-width: 80vw;
  text-align: center;
  padding: get-unit(1);

  &__title {
    color: get-color(lime) !important;
  }

  &--column {
    width: auto;
    min-width: auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;

    &--column {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      background: get-color(white);
    }

    &--crossed {
      text-decoration: line-through;
      color: get-color(red);
    }
  }
}
