.e-phase {
  border: 1px solid get-color(lime);
  background: rgba($color: black, $alpha: 0.9);
  font-family: 'Courier New', monospace;
  justify-content: flex-start;

  &--center {
    justify-content: center;
  }
}

.e-phase-title.e-phase-title {
  color: get-color(lime);
}

.e-phase-instruction.e-phase-instruction {
  border: 1px solid get-color(lime);
  border-radius: get-unit(1);
  color: get-color(lime);
  padding: get-unit(1 4);
  margin: get-unit(2 5);
}

.e-phase-section {
  width: 100%;
}

.e-phase-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e-lists {
  border: 1px solid get-color(lime);
  border-radius: get-unit(1);
  color: get-color(lime);
  margin: get-unit(2);
}

.e-notes {
  width: 100%;
  resize: vertical;
  border-radius: get-unit(1);
  padding: get-unit(1);
}

.e-card {
  border-color: get-color(lime);

  @at-root #{&}__footer#{&}__footer {
    font-size: 1.2em;
    margin-bottom: get-unit(2);
  }
}

.e-phase-step-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.e-select-container {
  margin-top: get-unit(2);

  &--locations {
    margin-bottom: get-unit(2);
  }
}

.e-timer {
  border: 2px solid get-color(lime);
  color: get-color(lime);
  width: 100px;
  border-radius: get-unit(1);
  font-family: monospace;
  font-size: 2em;
  text-align: center;

  &--paused {
    animation: blink-timer 1s infinite;
  }
}

@keyframes blink-timer {
  50% {
    color: get-color(red);
  }
}

.e-admin-final-assessment {
  color: get-color(red);
}

.e-modal {
  color: get-color(lime);
  font-family: 'Courier New', monospace;

  .ant-modal-content,
  .ant-modal-header {
    background: get-color(black);
  }

  .ant-modal-title {
    color: get-color(lime);
  }
}

.e-emergency-alert {
  background: transparent;

  .ant-modal-content {
    background: transparent;
  }

  &__svg {
    max-height: 80vh;
    animation: 500ms emergency-pulse infinite;
  }
}

@keyframes emergency-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.e-round-announcement {
  .round-announcement {
    &__circle {
      border-color: get-color(lime);
      background-color: transparent;
    }

    &__number {
      color: get-color(lime);
      transform: translateY(5%);
    }
  }
}
