.o-dial {
  width: 60vw;
  position: relative;
  margin: get-unit(2 auto);

  &__needle {
    fill: #e22929;
    transform-origin: bottom center;
    transition: transform 1250ms ease-in-out;
  }

  &__target {
    fill: #29abe2;
    transform-origin: bottom center;
  }

  &__card {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__points {
    animation: bounce 1.5s infinite ease;
  }
}

.o-dial-numbers {
  transition: all 5s ease;

  .o-dial--animated & > path {
    animation: fan-out 2s;
    transition: all 5s ease;
  }

  .o-dial--clickable & > path {
    cursor: pointer;
    &:hover {
      fill: #ffffa8;
    }
  }

  &--odd {
    fill: #e6e6e6;
    transform-origin: bottom center;
  }

  &--even {
    fill: #f2f2f2;
    transform-origin: bottom center;
  }

  &--active {
    fill: #e7c3c3;
  }

  &--target {
    fill: #29abe2;
  }
}

$base-angle: 8deg;

@for $i from 1 through 10 {
  #bracket-number-#{$i}-r {
    transform: rotate($i * $base-angle);
  }

  #bracket-number-#{$i}-l {
    transform: rotate($i * $base-angle * -1);
  }
}

.o-dial-points {
  &--animated {
    opacity: 0;
    animation: fade-in 4s;
    // animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }

  &--animated-1 {
    opacity: 0;
    animation: fade-in 4s;
    // animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  &--animated-2 {
    opacity: 0;
    animation: fade-in 4s;
    // animation-delay: 2.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes fan-out {
  from {
    opacity: 0;
    transform: rotate(0);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: rotate(0);
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
