.a-evaluation-phase {
  &__step-one {
    background: get-color(yellow, 2);
    padding: get-unit(4);
    flex: 1;
    position: relative;
  }

  &__action-button {
    margin-top: get-unit(4);
    display: flex;
    justify-content: center;
  }
}
