.ribbon {
  $default-right: 16px;
  $default-top: 0px;
  $default-color: get-color(gray);
  $default-width: 32px;
  $default-height: 36px;
  z-index: 100;

  position: absolute;
  right: var(--right, $default-right);
  top: var(--top, $default-top);

  filter: drop-shadow(2px 3px 2px rgba(#000, 0.5));

  &__content {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    background: $default-color;
    padding: 6px 2px 8px;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);

    width: var(--width, $default-width);
    min-height: var(--height, $default-height);

    transition: clip-path 1s, padding 1s, background 1s;
  }
}

.color-background {
  &--A {
    background: get-color(red);
  }

  &--B {
    background: get-color(blue);
  }

  &--C {
    background: get-color(green);
  }

  &--D {
    background: get-color(yellow);
  }

  &--E {
    background: get-color(pink);
  }

  &--F {
    background: get-color(purple);
  }

  &--G {
    background: get-color(teal);
  }

  &--H {
    background: get-color(orange);
  }

  &--I {
    background: get-color(blue, 7);
  }

  &--J {
    background: get-color(green, 3);
  }

  &--K {
    background: get-color(pink, 8);
  }

  &--L {
    background: get-color(purple, 3);
  }

  &--M {
    background: get-color(red, 7);
  }

  &--N {
    background: get-color(orange, 7);
  }
}
