@use "styles/sass" as *;

.me {
  &__container {
    background: none;
  }

  &__content {
    background: get-color("white", 5, 0.85);
    padding: get-unit(8);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__card-info {
    width: 100%;
    margin-bottom: get-unit(2);
  }

  &__card-statistic {
    width: 100%;
    margin-bottom: get-unit(2);
  }

  &__game-banner {
    border-radius: var(--border-radius);
  }

  &__game-bingo-badge {
    z-index: 1;
  }

  &__game-bingo-banner {
    border-radius: var(--border-radius);
    outline: 3px solid get-color("gray", 3);
    filter: grayscale(0.25);

    &--beta {
      outline: 3px solid get-color("orange", 3);
    }

    &--played {
      filter: none;
      outline: 3px solid get-color("green", 3);
    }
  }
}

.me-modal {
  & .ant-modal-body {
    height: calc(100vh - 200px);
    height: calc(100dvh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content {
    display: grid;
    place-items: center;
    height: 100%;
  }

  &__no-plays {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.15rem;
    padding: get-unit(4);
  }
}

.achievement-card {
  background-color: get-color("white", 5);
  border: get-color("gray", 2) 5px solid;
  display: flex;
  border-radius: get-unit(2);
  flex-direction: column;
  align-items: center;
  margin: get-unit(2 3);
  padding: get-unit(2);
  min-width: 120px;
  position: relative;

  &--achieved {
    background-color: get-color("yellow", 2);
    border: get-color("yellow") 5px solid;
  }

  &__disabled-icon {
    filter: grayscale(1);
  }

  &__banner {
    position: absolute !important;
    left: 0;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, transparent 100%);
    top: 0;
  }

  &__content {
    z-index: 5;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 42px auto 72px 16px;
  }

  &__game-title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    min-height: 42px; /* Approximately two lines of text */
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  }

  &__title {
    text-align: center;
    min-height: 72px; /* Approximately three lines of text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 1.1em;
  }

  &__medal {
    z-index: 5;
  }
}
