@use "styles/sass" as *;

.me {
  &__container {
    background: none;
  }

  &__content {
    padding: 1rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__card-info {
    width: 100%;
    margin-bottom: get-unit(2);
  }

  &__card-statistic {
    width: 100%;
    margin-bottom: get-unit(2);
  }

  &__game-banner {
    border-radius: var(--border-radius);
  }

  &__game-bingo-badge {
    z-index: 1;
  }

  &__game-bingo-banner {
    border-radius: var(--border-radius);
    filter: grayscale(100);
    opacity: 0.5;

    &--played {
      filter: none;
      opacity: 1;
      outline: 3px solid get-color("green", 3);
    }
  }
}

.me-modal {
  & .ant-modal-body {
    height: calc(100vh - 200px);
    height: calc(100dvh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content {
    display: grid;
    place-items: center;
    height: 100%;
  }

  &__no-plays {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.15rem;
    padding: get-unit(4);
  }
}
