.lobby {
  border: 1px solid white;
  border-radius: get-unit(1);
  margin: get-unit(4);
  padding: get-unit(4);
  height: 100%;

  &__room {
    flex: 1;
    display: grid;
    gap: get-unit(1);
    min-height: 500px;
    grid-template-columns: repeat(12, auto [col]);
    grid-template-rows: repeat(8, 1fr [row]);
    grid-template-areas: '';
  }

  &__seat {
    // justify-self: center;

    &--0 {
      grid-column: col 4;
      grid-row: row 1;
    }

    &--1 {
      grid-column: col 7;
      grid-row: row 1;
    }

    &--2 {
      grid-column: col 1;
      grid-row: row 5;
    }

    &--3 {
      grid-column: col 9;
      grid-row: row 3;
    }

    &--4 {
      grid-column: col 5;
      grid-row: row 2;
    }

    &--5 {
      grid-column: col 10;
      grid-row: row 5;
    }

    &--6 {
      grid-column: col 6;
      grid-row: row 3;
    }

    &--7 {
      grid-column: col 2;
      grid-row: row 3;
    }

    &--8 {
      grid-column: col 8;
      grid-row: row 6;
    }

    &--9 {
      grid-column: col 3;
      grid-row: row 6;
    }
  }

  &__join-container {
    background: white;

    grid-column: col 4 / col 8;
    grid-row: row 4 / row 9;
    justify-self: center;

    width: 300px;
    display: flex;
    flex-direction: column;
    padding: get-unit(3);
  }

  &__join-title {
    text-align: center;
  }

  &__avatar-selection {
    display: flex;
    align-items: center;
  }

  &__avatar-nav-button {
    height: 100px;
    flex: 1;
  }

  &__avatar-selection-image {
    width: 200px;
    border-radius: get-unit(1);
    margin: get-unit(0 2);
  }

  &__avatar-alert {
    margin: get-unit(2 0);
  }

  &__name-input {
    margin-bottom: get-unit(2);
  }
}
