@use "styles/sass" as *;

.alien-attributes {
  background: get-color("white");
  padding: get-unit(2);
  border-radius: var(--border-radius);

  &__sign {
    background: transparent;
  }
}

.alien-attributes__sign.alien-attributes__sign,
.alien-requests__sign.alien-requests__sign {
  background: transparent;
}

.alien-attributes__item.alien-attributes__item {
  background: transparent;
  margin: get-unit(1 2);
}

.alien-requests__attributes {
  background: get-color("white");
  padding: get-unit(2);
  border-radius: var(--border-radius);
}

.alien-items__item-button {
  &:disabled {
    opacity: 0.25;
  }
}

.alien-request__answer.alien-request__answer {
  background: get-color("lime", 4);
}

.alien-requests__previous-item {
  opacity: 0.85;
  filter: grayscale(0.6);
}

.alien-request__slot--active {
  border: 2px solid get-color("lime", 4);
  border-radius: var(--border-radius);
}
