.n-street {
  display: flex;
  width: 92vw;
  height: 270px;
  overflow-y: auto;
  padding-top: 45px;
  padding-right: get-unit(4);
  background-repeat: repeat-x;
}

$card-width: 80px;
$n-pink: #ffb1b4;

.n-house-card {
  $self: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: get-unit(1);

  &--collapsed {
    border-radius: get-unit(1);
    width: 30px;
    overflow: hidden;
    margin-right: get-unit(2);
  }

  &__card {
    display: flex;
    border-radius: get-unit(1);
    flex-direction: column;
    align-items: center;
    background-color: $n-pink;
    width: $card-width;
    height: 120px;
    margin: 8px 1px 0 1px;

    #{$self}--collapsed & {
      overflow: hidden;
    }

    #{$self}--horror & {
      background-color: get-color(brown);
    }

    #{$self}--jackpot & {
      background-color: get-color(yellow);
    }
  }

  &__name {
    width: $card-width;
    border-radius: get-unit(1);
    text-align: center;
    font-size: 0.8em;
    background-color: $n-pink;
    margin-top: get-unit(2);

    #{$self}--horror & {
      background-color: get-color(brown);
    }

    #{$self}--jackpot & {
      background-color: get-color(yellow);
    }
  }

  &__sidewalk {
    min-height: 25px;
    text-align: center;
    width: 100%;
  }
}

$stats-height: get-unit(40);

.n-player-stats {
  background-color: get-color(white);
  height: $stats-height;
  width: 80vw;
  display: flex;
  flex-direction: row;
  margin: get-unit(1 0 5 0);

  @include mobile {
    width: 100%;
  }

  @include xs {
    flex-direction: column;
    overflow-y: auto;
  }

  &__decision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $stats-height;
    padding: get-unit(2);
    flex: 1;
    text-transform: uppercase;
  }

  &__title {
    color: get-color(gray, 4);
    display: block;
    font-size: 1.1em;
  }

  &__container {
    border-left: 1px solid get-color(gray, 2);
    display: flex;
    flex-direction: column;
    padding: get-unit(2);

    &--candy {
      width: $stats-height;
    }
  }

  &__count-label {
    color: get-color(gray);
    display: block;
  }

  &__count-value {
    display: block;
    background-color: get-color(gray, 2);
    font-size: 1.1em;
    border-radius: get-unit(1);
    padding: get-unit(1 2);
    margin: get-unit(1);
    text-align: center;
  }

  &__jackpots {
    display: flex;
  }

  &__no-jackpot {
    font-style: italic;
    color: get-color(gray, 3);
  }
}

.n-decision-buttons-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.n-decision-button {
  padding: get-unit(2 4);
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: get-color(white);
  transition: all 250ms;

  &:hover {
    transform: scale(1.05);
  }

  &--home:hover {
    background-color: get-color(blue, 4);
  }

  &--continue:hover {
    background-color: get-color(yellow, 4);
  }
}

.n-players-decision-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  transform: scale(75%);
  margin: get-unit(0 auto 2 auto);

  &__title {
    background-color: rgba($color: white, $alpha: 0.6);
    margin: 0;
    padding: get-unit(1 2 0 2);
    border-radius: get-unit(5 5 0 0);
  }

  &__players {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: white, $alpha: 0.6);
    padding: get-unit(1);
    border-radius: get-unit(5);
    flex-wrap: wrap;
  }

  &__player {
    padding: get-unit(1 2);
    border-radius: get-unit(5);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.n-players-decision-result {
  @include contained;
  display: grid;
  max-width: 70vw;
  grid-template-columns: 1fr 1px 1fr;
  margin-bottom: get-unit(2);
  border-radius: get-unit(2);

  @include mobile {
    display: block;
  }

  &__section {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 30vw;
  }

  &__divider {
    background-color: get-color(black, 1);
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__players {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: get-unit(2);

    &--nobody {
      font-style: italic;
      color: get-color(black, 3);
    }
  }

  &__player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__info {
    margin: get-unit(3 0 1 0);
    font-style: italic;
  }
}

.n-game-over-players {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.n-game-over-player {
  @include contained;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: get-unit(1);
  padding: get-unit(2);
  justify-items: center;
  align-items: center;
  text-align: center;
}

.costume-avatar {
  width: 100px;
  border-radius: get-unit(1);
  margin: get-unit(0 2);

  &--bounce {
    animation: bounce-kid 2000ms ease-in-out infinite;
  }
}

@keyframes bounce-kid {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.01, 0.98) translateY(0);
  }
  30% {
    transform: scale(0.98, 1.01) translateY(-6px);
  }
  50% {
    transform: scale(1.05, 0.99) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-3px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
