.n-background.n-background {
  background: linear-gradient(-45deg, #1f122f, #2f2404, #27143d, #322414, #1c172e);
  background-size: 1000% 1000%;
}

.n-title {
  &.title {
    margin-bottom: 0;
  }
}

.n-subtitle {
  &.title {
    margin-bottom: get-unit(2);
    margin-top: 0 !important;
  }
}

.n-street {
  display: flex;
  width: 92vw;
  height: 270px;
  overflow-y: auto;
  padding-top: 45px;
  padding-right: get-unit(4);
  background-repeat: repeat-x;
}

$card-width: 80px;
$n-pink: #ffb1b4;

.n-house-card {
  $self: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: get-unit(1);

  &--collapsed {
    border-radius: $border-radius;
    width: 30px;
    overflow: hidden;
    margin-right: get-unit(2);
  }

  &__card {
    display: flex;
    border-radius: $border-radius;
    flex-direction: column;
    align-items: center;
    background-color: $n-pink;
    width: $card-width;
    height: 120px;
    margin: 8px 1px 0 1px;

    #{$self}--collapsed & {
      overflow: hidden;
    }

    #{$self}--horror & {
      background-color: get-color('brown');
    }

    #{$self}--jackpot & {
      background-color: get-color('yellow');
    }
  }

  &__name {
    width: $card-width;
    border-radius: $border-radius;
    text-align: center;
    font-size: 0.8em;
    background-color: $n-pink;
    margin-top: get-unit(2);

    #{$self}--horror & {
      background-color: get-color('brown');
    }

    #{$self}--jackpot & {
      background-color: get-color('yellow');
    }
  }

  &__sidewalk {
    min-height: 25px;
    text-align: center;
    width: 100%;
  }

  &__active {
    width: 0;
    height: 0;
    border-left: calc($card-width / 3) solid transparent;
    border-right: calc($card-width / 3) solid transparent;
    border-bottom: 10px solid $n-pink;
    clear: both;
  }
}

$stats-height: get-unit(40);

.n-player-stats {
  background-color: get-color('white');
  height: $stats-height;
  width: 80vw;
  display: flex;
  flex-direction: row;
  margin: get-unit(1 0 5 0);

  @include mobile {
    width: 100%;
  }

  @include xs {
    flex-direction: column;
    overflow-y: auto;
  }

  &__decision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $stats-height;
    padding: get-unit(2);
    flex: 1;
    text-transform: uppercase;
  }

  &__title {
    color: get-color('gray', 4);
    display: block;
    font-size: 1.1em;
  }

  &__container {
    border-left: 1px solid get-color('gray', 2);
    display: flex;
    flex-direction: column;
    padding: get-unit(2);

    &--candy {
      width: $stats-height;
    }
  }

  &__count-label {
    color: get-color('gray');
    display: block;
  }

  &__count-value {
    display: block;
    background-color: get-color('gray', 2);
    font-size: 1.1em;
    border-radius: $border-radius;
    padding: get-unit(1 2);
    margin: get-unit(1);
    text-align: center;
  }

  &__jackpots {
    display: flex;
  }

  &__no-jackpot {
    font-style: italic;
    color: get-color('gray', 3);
  }
}

.n-decision-buttons-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.n-decision-button {
  padding: get-unit(2 4);
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: get-color('white');
  transition: all 250ms;

  &:hover {
    transform: scale(1.05);
  }

  &--home:hover {
    background-color: get-color('blue', 4);
  }

  &--continue:hover {
    background-color: get-color('yellow', 4);
  }
}

.n-players-decision {
  @include contained;
  display: grid;
  max-width: 70vw;
  grid-template-columns: auto 1px auto 1px auto;
  margin-bottom: get-unit(2);
  border-radius: get-unit(2);
  transition: all 3s;

  @include mobile {
    display: block;
  }

  &__section {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-width: 20vw;
    transition: all 3s;

    &--empty {
      width: 48px;
      min-width: auto;
    }
  }

  &__divider {
    background-color: get-color('gray', 3);
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--empty {
      font-size: 0;
    }
  }

  &__players {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: get-unit(2);

    &--nobody {
      font-style: italic;
      color: get-color('gray', 8);
    }

    &--empty {
      font-size: 0;
    }
  }

  &__player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__info {
    margin: get-unit(3 0 1 0);
    font-style: italic;

    &--empty {
      font-size: 0;
    }
  }
}

.n-game-over-players {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.n-game-over-player {
  width: 15vw;
  max-width: 200px;
  @include contained;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: get-unit(1);
  padding: get-unit(2);
  justify-items: center;
  align-items: center;
  text-align: center;
}

.costume-avatar {
  width: 100px;
  border-radius: $border-radius;
  margin: get-unit(0 2);

  &--bounce {
    animation: bounce-kid 2000ms ease-in-out infinite;
  }
}

@keyframes bounce-kid {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.01, 0.98) translateY(0);
  }
  30% {
    transform: scale(0.98, 1.01) translateY(-6px);
  }
  50% {
    transform: scale(1.05, 0.99) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-3px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.n-candy-highlight {
  border: get-color('pink', 7, 0.8) 1px solid;
  background-color: get-color('pink', 3, 0.6);
}

.n-step-trick-or-treat {
  position: relative;
}

.n-new-house-card {
  $self: &;

  position: absolute;
  @include contained;
  background-color: get-color('white', 5, 0.8);
  top: 20vh;

  &__container {
    // transform: scale(2);

    #{$self}--collapsed & {
      overflow: hidden;
    }

    #{$self}--horror & {
      background-color: get-color('brown');
    }

    #{$self}--jackpot & {
      background-color: get-color('yellow');
    }
  }

  &__name {
    width: 100%;
    border-radius: $border-radius;
    text-align: center;
    font-size: 1.5em;
    background-color: $n-pink;
    margin-top: get-unit(2);

    #{$self}--horror & {
      background-color: get-color('brown');
    }

    #{$self}--jackpot & {
      background-color: get-color('yellow');
    }
  }
}

.n-game-over-player {
  display: flex;
  flex-direction: column;
  gap: get-unit(1);
}
