@use "styles/sass" as *;

.glyphs {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.q-character-player {
  outline: get-unit(3) dotted gold;
  animation: characterOutline 2s infinite;
}

@keyframes characterOutline {
  0%,
  100% {
    outline-color: gold;
  }
  25%,
  75% {
    outline-color: get-color("white", 5, 5);
  }
  50% {
    outline-color: gold;
  }
}

.q-selections {
  background: get-color("gray", 8);

  &__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: get-unit(2);
    margin: get-unit(4);
    padding: get-unit(2);
    border-radius: $border-radius;

    &--positive {
      background-color: get-color("green", 8, 0.5);
    }

    &--negative {
      background-color: get-color("red", 8, 0.5);
    }
  }

  &__entry {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }

  &__no-glyph {
    background-color: get-color("black", 8, 0.5);
    border-radius: $border-radius;
  }
}

.q-voting-container {
  display: grid;
  place-items: center;
  gap: get-unit(4);
}

.q-players-glyphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.q-player-glyphs {
  display: grid;
  grid-template-columns: repeat(7, auto);
  border-radius: $border-radius;
  background: get-color("gray", 8);
  margin: get-unit(1);
  min-height: 100px;

  &__strip {
    justify-content: flex-start;
  }

  &__entry {
    padding: get-unit(1);
    display: flex;
    flex-direction: column;
    align-items: center;

    &--positive {
      background-color: get-color("green", 8, 0.5);
    }

    &--negative {
      background-color: get-color("red", 8, 0.5);
    }
  }
}

.q-final-character {
  grid-template-columns: repeat(8, auto);
  place-items: center;
}

.q-voting-characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__button {
    position: relative;
  }
}

.q-gallery {
  &__result {
    padding: get-unit(2);
    background: linear-gradient(
      to right,
      get-color("white", 4) 0%,
      get-color("white", 5) 88%,
      get-color("white", 8) 96%,
      get-color("white", 9) 100%
    );
  }

  &__info {
    padding: get-unit(2);
    background: linear-gradient(
      to left,
      get-color("white", 4) 0%,
      get-color("white", 5) 88%,
      get-color("white", 8) 96%,
      get-color("white", 9) 100%
    );
  }

  &__info-container {
    width: 100%;
  }

  &__player {
    color: get-color("white");
    width: 100%;
    border-radius: get-unit(2 2 0 0);
  }

  &__votes {
    border-radius: get-unit(2);
    padding: get-unit(2 3);
    max-height: 52vh;
    overflow-y: auto;
    width: 100%;
  }

  &__guess {
    margin-top: get-unit(1);
  }
}
