@use "styles/sass" as *;

@keyframes slowPan {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

.lobby-image-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(12px);
  opacity: 0.85;
  animation: slowPan 180s linear infinite;
}
