.lobby-waiting {
  grid-column: col 4;
  grid-row: row -7 / row 6;
  justify-self: center;

  @include vertical-centered-container;

  width: 260px;
  margin: get-unit(8 0);

  &__card {
    background: white;
    @include box-shadow;
    padding: get-unit(3);
    border-radius: get-unit(1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    border-radius: 50%;
    width: 50%;
    min-width: 100px;
    margin: get-unit(2 auto);
  }

  &__lock-button {
    width: calc(100% - #{get-unit(6)});
    bottom: get-unit(3);
    flex-direction: column;
  }
}
