@use "styles/sass" as *;

.imageCard {
  border-radius: get-unit(3);
  margin: get-unit(1);
  transition: 500ms transform;

  &:hover {
    transform: scale(1.05);
  }

  :global(.ant-image-img) {
    border-radius: get-unit(3);
  }
}

.previewMask {
  border-radius: get-unit(3);
}

.blur {
  filter: blur(10px);
}

.square {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
