.avatar-card {
  padding: get-unit(0 1 2 1);
  font-weight: bolder;
  font-size: inherit;
  color: get-color('white');
  text-align: center;
  overflow: hidden;

  &--uppercase {
    text-transform: uppercase;
  }

  &--small {
    font-size: 0.75rem;
  }

  &--default {
    font-size: 1rem;
  }

  &--large {
    font-size: 1.25rem;
  }

  &__name {
    display: block;
    white-space: nowrap;
    word-break: keep-all;
  }

  &__description {
    white-space: nowrap;
    word-break: keep-all;
  }
}

.avatar-strip {
  padding: get-unit(0 1 2 1);
  font-weight: bolder;
  font-size: inherit;
  color: get-color('white');
  text-align: center;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--uppercase {
    text-transform: uppercase;
  }

  &__name {
    display: block;
    width: 10ch;
    white-space: nowrap;
    word-break: keep-all;
    transform: rotate(-90deg) translateX(-45%);
    text-align: right;
  }
}

.avatar-entry {
  position: relative;
  &--floating {
    animation: float 6s ease-in-out infinite;
  }

  &__avatar {
    z-index: 10;
    position: absolute;
    filter: drop-shadow(1px 1px 1px rgba(#000, 0.3));
  }

  &__name {
    background-color: get-color('white');
    padding: get-unit(1 4 1 9);
    margin-left: get-unit(5);
    border-radius: get-unit(0 4 4 0);
    position: absolute;
    transform: translateY(5px);
    white-space: nowrap;
  }
}

@keyframes float {
  0% {
    filter: drop-shadow(0px 10px 4px rgba(#000, 0.3));
    transform: translateY(0px);
  }
  50% {
    filter: drop-shadow(0px 20px 4px rgba(#000, 0.1));
    transform: translateY(-10px);
  }
  100% {
    filter: drop-shadow(0px 10px 4px rgba(#000, 0.3));
    transform: translateY(0px);
  }
}

.avatar-name {
  display: inline-block;
  padding: get-unit(0 1);
  font-weight: bolder;
  font-size: inherit;

  &--uppercase {
    text-transform: uppercase;
  }

  &--upright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--small {
    font-size: 0.75em;
  }

  &--default {
    font-size: 1em;
  }

  &--large {
    font-size: 1.5em;
  }

  &__avatar {
    margin-right: get-unit(1);
  }

  &__name {
    display: inline-block;
  }
}
