@use 'styles/sass' as *;

.avatar-strip {
  padding: get-unit(0 1 2 1);
  font-weight: bolder;
  font-size: inherit;
  color: get-color('white');
  text-align: center;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--uppercase {
    text-transform: uppercase;
  }

  &__name {
    display: block;
    width: 10ch;
    white-space: nowrap;
    word-break: keep-all;
    transform: rotate(-90deg) translateX(-45%);
    text-align: right;
  }
}
