@use "styles/sass" as *;

.super-hero-avatar {
  width: 100px;
  border-radius: var(--border-radius);
  margin: get-unit(0 2);

  &--animated {
    animation: bounce-kid 2000ms ease-in-out infinite;
  }
}
