.canvas-resizer {
  width: 160px;
  padding: get-unit(1 2);
  border-radius: get-unit(1);

  &__label {
    font-size: 90%;
    text-transform: uppercase;
    text-align: center;
  }

  &__slider {
    display: block;
  }
}
