.p-step {
  min-width: 50vw;
}
.p-topics-card {
  background: get-color(white);
  font-size: 1rem;
  min-width: 200px;
  width: 350px;
  border-radius: get-unit(1);
  padding: get-unit(1 3);
  margin: get-unit(2 auto);
  @include box-shadow;

  &__item {
    display: flex;
    margin: get-unit(2 0);
    border: get-unit(1) solid;
    border-radius: get-unit(1);

    &:nth-child(1) {
      border-color: get-color(blue, 5);
    }

    &:nth-child(2) {
      border-color: get-color(purple, 4);
    }

    &:nth-child(3) {
      border-color: get-color(blue, 4);
    }

    &:nth-child(4) {
      border-color: get-color(purple, 5);
    }

    &:nth-child(6) {
      border-color: get-color(pink, 8);
    }

    &--or {
      border: none;
      width: 100%;
      display: flex;
      justify-content: center;

      text-transform: uppercase;
      font-size: 60%;
    }

    &--custom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.p-topic {
  &--button {
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 500ms transform;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.p-custom-topic {
  &__button {
    margin: get-unit(2);
  }

  &__input {
    font-family: 'Architects Daughter', cursive;

    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
  }
}

.p-reaction-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: get-unit(3 2);

  &__like {
    width: 40%;
    background: get-color(blue);
    border-color: get-color(blue);

    &:hover {
      background: get-color(blue, 4);
      border-color: get-color(blue, 4);
    }

    &:active,
    &:focus {
      background: get-color(blue, 4);
      border-color: get-color(yellow, 5);
    }

    &--active {
      border-color: get-color(yellow, 5);
    }
  }

  &__dislike {
    width: 40%;
    background: get-color(red, 5);
    border-color: get-color(red, 5);

    &:hover {
      background: get-color(red, 4);
      border-color: get-color(red, 4);
    }

    &:active,
    &:focus {
      background: get-color(red, 4);
      border-color: get-color(yellow, 5);
    }

    &--active {
      border-color: get-color(yellow, 5);
    }
  }
}

.p-votes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: get-unit(3 2);
}

.p-trending-topic {
  background: get-color(white);
  padding: get-unit(2 8);
  position: relative;

  &__likes {
    background: get-color(white);
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.75em;
    border: 1px solid get-color(blue);
    padding: get-unit(1 2);
    border-radius: get-unit(1);
    right: 0;
    transform: translate(80%, -100%);
  }
}

.p-players-reactions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: get-unit(10);
}

.p-player-reaction {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__player {
    margin: get-unit(5 1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__reaction {
    display: inline;
    padding: get-unit(1 3);
    position: relative;
    background: #ffffff;
    border-radius: 0.4em;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 0.375em solid transparent;
      border-top-color: #ffffff;
      border-bottom: 0;
      margin-left: -0.375em;
      margin-bottom: -0.375em;
    }
  }

  &__likes {
    display: inline;
    padding: get-unit(1 3);
    position: relative;
    background: #ffffff;
    border-radius: 0.4em;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 0.375em solid transparent;
      border-bottom-color: #ffffff;
      border-top: 0;
      margin-left: -0.375em;
      margin-top: -0.375em;
    }
  }
}

.p-total-likes {
  font-size: 2em;
  padding: get-unit(2 6);
}

.p-icon-like {
  color: get-color(blue);
}

.p-icon-dislike {
  color: get-color(red);
}

.p-icon-correct {
  color: get-color(blue);
}
