@use "styles/sass" as *;

.background {
  background: linear-gradient(-45deg, #7999e2, #d7f9f1, #618b4a, #7999e2, #afbc88, #c549ce);
  background-size: 1000% 1000%;
}

.m-step {
  width: 100%;
  max-width: 1360px;

  &__contained-content {
    max-width: 60vw;
    margin: 0 auto;
  }
}

.m-pasture-container {
  position: relative;
  padding-top: 5rem;
}

.m-pasture {
  width: 100%;
  position: relative;
  min-height: 10vh;
  margin: 0 auto;

  &__background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__fence {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
  }
}

.m-pasture-names {
  display: block;
  margin: 0 auto;
}

.m-enclosure-names {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: get-unit(1 2);
  padding: get-unit(0 1);
  border-radius: var(--border-radius);
  transform: translateY(-50%);

  &--has-names {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.m-enclosures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.65fr;
  height: 100%;
}

.m-enclosure {
  position: relative;
}

.sheep-avatar {
  width: 100px;
  border-radius: var(--border-radius);
  margin: get-unit(0 2);

  &--bounce {
    animation: bounce-sheep 2000ms ease-in-out infinite;
  }
}

@keyframes bounce-sheep {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.01, 0.98) translateY(0);
  }
  30% {
    transform: scale(0.98, 1.01) translateY(-6px);
  }
  50% {
    transform: scale(1.05, 0.99) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-3px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.m-sheep {
  width: 50px;
  display: block;
  position: absolute;
  bottom: 12%;
  left: 0;
  transition: all 1000ms;

  &--pos-0 {
    z-index: 86;
    bottom: 10%;
    left: 30%;
  }

  &--pos-1 {
    z-index: 80;
    bottom: 22%;
    left: 15%;
  }

  &--pos-2 {
    z-index: 80;
    bottom: 22%;
    left: 45%;
  }

  &--pos-3 {
    z-index: 85;
    bottom: 12%;
    left: 5%;
  }

  &--pos-4 {
    z-index: 85;
    bottom: 12%;
    left: 55%;
  }

  &--pos-5 {
    z-index: 75;
    bottom: 28%;
    left: 1%;
  }

  &--pos-6 {
    z-index: 75;
    bottom: 28%;
    left: 60%;
  }

  &--pos-7 {
    z-index: 73;
    bottom: 30%;
    left: 30%;
  }

  &--animate-right {
    animation: move-sheep-right 2000ms ease-in-out forwards;
  }

  &--animate-left {
    animation: move-sheep-left 2000ms ease-in-out forwards;
  }

  &--animate-rebound {
    animation: move-sheep-rebound 1000ms ease-in-out forwards;
  }

  &--animate-die {
    animation: sheep-die 500ms ease-in forwards;
  }
}

.m-round-type {
  @include contained;
  text-align: center;
  margin: get-unit(2);

  &__arrows {
    margin-bottom: -20px;
  }

  &__arrow {
    width: 80px;
    margin: get-unit(0 1);

    &--1 {
      transform: rotate(4deg);
    }
    &--2 {
      transform: rotate(-3deg);
    }
    &--3 {
      transform: rotate(6deg);
    }
    &--0 {
      transform: rotate(182deg);
    }
  }
}

.m-pasture-round-type {
  width: 80%;
  margin: get-unit(auto);
  top: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  display: block;
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  padding: get-unit(0 4 2 4);
  border-radius: var(--border-radius);

  @include xs {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin: get-unit(3 auto);
  }
}

.m-answers {
  font-family: "Architects Daughter", cursive;
  padding: get-unit(5 3 8 3);
  background-color: get-color("white");
  border-radius: var(--border-radius);
  @include box-shadow;

  &__item {
    margin-left: get-unit(6);
    font-size: 1.25rem;
    border-bottom: 1px dashed get-color("blue", 4);
  }

  &__input {
    border: none;
  }
}

.m-answer-group {
  &__answer-container {
    display: flex;
    justify-content: center;
  }

  &__answer {
    display: inline;
    text-align: center;
    padding: get-unit(4 10);
    background-color: get-color("white");
    border-radius: get-unit(8);
    position: relative;
    @include box-shadow;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: get-color("white");
      border-bottom: 0;
      margin-left: -10px;
      margin-bottom: -10px;
    }
  }

  &__speech-bubble-small {
    margin-top: get-unit(2);
    text-align: center;
    background-color: get-color("white");
    border-radius: get-unit(2);
    padding: get-unit(1 2);
    position: relative;
    @include box-shadow;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: get-color("white");
      border-top: 0;
      margin-left: -10px;
      margin-top: -10px;
    }
  }

  &__players {
    margin: get-unit(5 2 2 2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__player {
    margin: get-unit(1 2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__allow-add {
    text-align: center;
  }
}

.m-admin {
  flex-direction: column;

  &__players-answers {
    margin-top: get-unit(6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__answer {
    margin: get-unit(1);
  }
}

.m-question-card {
  width: 100%;
  max-width: var(--max-width);
  min-width: 400px;
  margin: get-unit(2 auto);
  font-size: 1.15rem;
}

.m-game-over-in-memoriam {
  margin-top: get-unit(6);
}

.m-sheep-rip {
  margin-top: get-unit(4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__entry {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes move-sheep-right {
  0% {
    transform: scale(1, 1) translate(0);
  }
  50% {
    transform: scale(2) translate(100%, -50%) rotate(360deg);
  }
  100% {
    transform: scale(1, 1) translate(350%) rotate(720deg);
  }
}

@keyframes move-sheep-left {
  0% {
    transform: scale(1, 1) translate(0);
  }
  50% {
    transform: scale(2) translate(-100%, -50%) rotate(360deg);
  }
  100% {
    transform: scale(1, 1) translate(-350%) rotate(720deg);
  }
}

@keyframes move-sheep-rebound {
  0% {
    transform: scale(1, 1) translate(0);
  }
  50% {
    transform: scale(2) translate(100%, -50%) rotate(360deg);
  }
  100% {
    transform: scale(1, 1) translate(0);
  }
}

@keyframes sheep-die {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10%);
  }
  15% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: scale(0.1) translateY(600%);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.1) translateY(700%);
    opacity: 0;
  }
}

.m-custom-question-form {
  display: flex;

  & .ant-select {
    min-width: 150px;
  }
}

.m-custom-question-sample {
  color: get-color("gray");
  font-style: italic;
}

.gallery {
  display: flex;
  max-width: 1200px;
}

.gallery-entry {
  background: get-color("white", 4, 0.25);
  width: 200px;
  border-radius: var(--border-radius);
  padding: get-unit(2);

  &__question {
    text-align: center;
  }

  &__answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: get-color("white", 5, 0.25);
    border-radius: var(--border-radius);
    padding: get-unit(2);
    margin: get-unit(1);
  }
}

.m-question-selection-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
