.h-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--selected {
    border: 2px dashed get-color(yellow);
    background-color: get-color(yellow, 6);
    border-radius: get-unit(1);
  }

  &__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6rem;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.h-items-selection {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: get-unit(1);
  justify-items: center;
  background-color: get-color(black, 5);
  border-radius: get-unit(2);
  padding: get-unit(2);

  &__button {
    border: 2px solid transparent;
    background-color: none;
    cursor: pointer;
    padding: 0;
  }
}

.h-items-crime-selection {
  display: flex;
  background-color: get-color(black, 5);
  border-radius: get-unit(2);
  padding: get-unit(2);
  align-items: center;

  &__faded {
    opacity: 0.25;
  }
}

.h-scene-tiles-list {
  display: flex;
  overflow-y: auto;
}

.h-items-board {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: get-unit(1);
  background-color: get-color(black, 5);
  border-radius: get-unit(2);
  padding: get-unit(2);
}

.h-grouped-items-board {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: get-unit(1);
  background-color: get-color(black, 5);
  border-radius: get-unit(2);
  padding: get-unit(2);

  &__group {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: get-unit(1);

    border: 2px solid get-color(brown);
    border-radius: get-unit(2);
    padding: get-unit(2);
  }
}

.h-scene-tile {
  $self: &;

  background-color: get-color(black, 5);
  padding: get-unit(2);
  border-radius: get-unit(2);
  margin: get-unit(2);

  &__title {
    text-align: center;
  }

  &__button {
    color: get-color(white);
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      margin-bottom: get-unit(1);
      width: 100%;

      #{ $self }__button {
        width: 100%;
      }
    }
  }

  &--cause {
    border: 5px solid get-color(violet, 6);

    #{ $self }__title {
      color: get-color(violet, 5);
    }

    #{ $self }__button {
      background-color: get-color(violet, 7);
      border-color: get-color(violet, 7);
    }

    #{ $self }__icon {
      color: get-color(violet, 5);
    }
  }

  &--evidence {
    border: 5px solid get-color(red, 8);

    #{ $self }__title {
      color: get-color(red, 5);
    }

    #{ $self }__button {
      background-color: get-color(red, 7);
      border-color: get-color(red, 7);
    }

    #{ $self }__icon {
      color: get-color(red, 5);
    }
  }

  &--location {
    border: 5px solid get-color(green, 8);

    #{ $self }__title {
      color: get-color(green, 5);
    }

    #{ $self }__button {
      background-color: get-color(green, 7);
      border-color: get-color(green, 7);
    }

    #{ $self }__icon {
      color: get-color(green, 5);
    }
  }

  &--scene {
    border: 5px solid get-color(orange, 8);

    #{ $self }__title {
      color: get-color(orange, 5);
    }

    #{ $self }__button {
      background-color: get-color(orange, 7);
      border-color: get-color(orange, 7);
    }

    #{ $self }__icon {
      color: get-color(orange, 5);
    }
  }
}

.h-crime {
  background-color: get-color(black, 5);
  display: grid;
  grid-template-columns: [player] 2.5rem [info] auto [history] 28px [selections] 216px [done] 2.5rem;
  min-height: 200px;
  margin: get-unit(2);
  border-radius: get-unit(1);
  color: get-color(white);
  min-width: 800px;

  &__player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__player-name {
    display: block;
    transform: rotate(-90deg) translateX(-40%);
  }

  &__scenes {
    padding: get-unit(2);
  }

  &__history {
    border-left: 2px solid;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.h-crime-scene {
  display: grid;
  grid-template-columns: 3fr 7fr;
  margin-bottom: get-unit(1);

  &__label {
    white-space: nowrap;
    padding: get-unit(0 1);
    margin-right: get-unit(1);

    &--cause {
      background-color: get-color(violet, 6);
    }

    &--evidence {
      background-color: get-color(red, 6);
    }

    &--location {
      background-color: get-color(green, 6);
    }

    &--scene {
      background-color: get-color(orange, 6);
    }
  }

  &__value {
    padding: get-unit(0 1);
  }
}

.h-crime-selections {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1rem;
  grid-template-areas:
    'weapon evidence'
    'status status';
  padding: get-unit(1);

  &__status {
    grid-area: status;
    width: 100%;

    display: flex;
    justify-content: center;
  }
}

.crime-guess-status {
  padding: get-unit(1);
  display: flex;
  justify-content: center;
  align-items: center;

  &--LOCKED {
    color: get-color(grey, 5);
  }

  &--CORRECT {
    color: get-color(green, 5);
  }

  &--HALF {
    color: get-color(yellow, 5);
  }

  &--WRONG {
    color: get-color(red, 5);
  }

  &--WRONG_GROUP {
    color: get-color(purple, 6);
  }
}

.h-item-selector {
  width: 100px;
  margin-left: get-unit(1);
}

.h-players-cards {
  display: flex;
  margin-bottom: get-unit(2);

  &__seal {
    margin: 0 auto;
    height: 6ch;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
}
