.lobby-join {
  background: white;
  grid-column: col 4;
  grid-row: row -7 / row 6;
  justify-self: center;

  width: 300px;
  @include vertical-centered-container;

  padding: get-unit(3);
  margin: get-unit(8 0);
  border-radius: get-unit(1);

  &__game-image {
    max-width: 360px;
  }

  &__title {
    text-align: center;
  }

  &__avatar-selection {
    display: flex;
    align-items: center;
    max-width: 250px;
    justify-content: center;
  }

  &__avatar-nav-button {
    height: 100px;
    flex: 1;
  }

  &__avatar-selection-image {
    width: 200px;
    border-radius: get-unit(1);
    margin: get-unit(0 2);
  }

  &__avatar-alert {
    margin: get-unit(2 0);
  }

  &__name-input {
    margin-bottom: get-unit(2);
  }

  &__join-button {
    width: 100%;
  }
}
