@use "styles/sass" as *;

.background {
  background: linear-gradient(-45deg, #2b6d8a, #445f72, #587991);
  background-size: 1000% 1000%;
}

.scenarios {
  display: grid;
  gap: get-unit(2);
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
}

.scenarios-results {
  @extend .scenarios;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr auto;
}

.final-scenarios {
  display: grid;
  gap: get-unit(2);
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
  align-items: stretch;
}

.scenario {
  background: get-color("red");
  color: get-color("white");

  padding: get-unit(2);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  // aspect-ratio: 1 / 1;
  height: 100%;

  &__tagline {
    padding: get-unit(2);
  }

  &__card {
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
    margin-top: get-unit(2);
    flex: 1;
    background: get-color("red", 6);
    padding: get-unit(2);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
  }

  &__incorrect-result {
    background: get-color("gray", 3);
  }
}

.scenarios-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: get-unit(2);
  margin: get-unit(1);

  &__button {
    background: get-color("red", 6);
    color: get-color("white");
    padding: get-unit(2 4);
    border-radius: var(--border-radius);
    border: get-unit(1) solid get-color("red", 7);
    @include box-shadow;
    font-family: "Ubuntu Mono", monospace;
    flex: 1;
  }
}

.waiting-room-scenarios {
  display: grid;
  grid-template-columns: repeat(5, minmax(64px, 10vw));
  gap: get-unit(2);

  &__entry {
    background: get-color("red", 6);
    color: get-color("white");
    padding: get-unit(2 4);
    border-radius: var(--border-radius);
    border: get-unit(1) solid get-color("red", 7);
    @include box-shadow;
    font-family: "Ubuntu Mono", monospace;
    flex: 1;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
  }
}
