.e-phase {
  margin: 0;
  padding: get-unit(10 8 8 8);
  background-color: rgba($color: black, $alpha: 0.9);
  border-radius: $border-radius;
  font-family: 'Courier New', monospace;

  &--center {
    justify-content: center;
  }
}

.e-phase-announcement {
  font-family: 'Courier New', monospace;
  background-color: get-color('white');

  &--animated {
    .title {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid get-color('lime'); /* The typewriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.15em; /* Adjust as needed */
      animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
    }
  }

  &--alert {
    background-color: red;
    .phase-announcement__icon {
      animation: 500ms emergency-pulse infinite;
    }
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: get-color('lime');
  }
}

.e-phase-title.e-phase-title {
  color: get-color('lime');

  &--fail {
    color: get-color('red');
  }
}

.e-phase-instruction.e-phase-instruction {
  border: 1px solid get-color('lime');
  border-radius: $border-radius;
  color: get-color('lime');
  padding: get-unit(1 4);
  margin: get-unit(2 5);

  h4 {
    color: get-color('lime');
    border-bottom: 1px solid get-color('lime');
  }
}

.e-phase-section {
  width: 100%;
}

.e-phase-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.e-lists {
  border: 1px solid get-color('lime');
  border-radius: $border-radius;
  color: get-color('lime');
  margin: get-unit(2);
}

.e-notes {
  width: 100%;
  resize: vertical;
  border-radius: $border-radius;
  padding: get-unit(1 2);
}

.e-card {
  border-color: get-color('lime');

  @at-root #{&}__footer#{&}__footer {
    font-size: 1.2em;
    margin-bottom: get-unit(2);
  }
}

.e-phase-step-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.e-select-container {
  margin-top: get-unit(2);

  &--locations {
    margin-bottom: get-unit(2);
  }
}

.e-timer {
  border: 2px solid get-color('lime');
  color: get-color('lime');
  width: 100px;
  border-radius: $border-radius;
  font-family: monospace;
  font-size: 2em;
  text-align: center;

  &--paused {
    animation: blink-timer 1s infinite;
  }
}

@keyframes blink-timer {
  50% {
    color: get-color('red');
  }
}

.e-admin-final-assessment {
  color: get-color('red');
}

.e-modal {
  color: get-color('lime');
  font-family: 'Courier New', monospace;

  .ant-modal-content,
  .ant-modal-header {
    background-color: get-color('black');
  }

  .ant-modal-title {
    color: get-color('lime');
  }
}

@keyframes emergency-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.e-round-announcement {
  .round-announcement {
    &__circle {
      border-color: get-color('lime');
      background-color: transparent;
    }

    &__number {
      color: get-color('lime');
      transform: translateY(5%);
    }
  }
}

.e-list {
  width: 100%;
  min-width: 80vw;
  text-align: center;
  padding: get-unit(1);

  &__title {
    color: get-color('lime') !important;
  }

  &__clear-button {
    margin-left: get-unit(3);
  }

  &--column {
    width: auto;
    min-width: auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;

    &--column {
      grid-template-rows: repeat(5, 1fr);
      grid-auto-flow: column;
    }
  }

  &__item {
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      background-color: get-color('white');
    }

    &--crossed {
      text-decoration: line-through;
      color: get-color('red');
    }
  }
}
