.dev-layout {
  background: none;
}

.dev-content {
  width: 100%;
  padding: 1rem;
}

.dev-color-swatch {
  width: 20ch;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

$colors: (
  'blue': #598ffd,
  'gray': #6f7273,
  'green': #49d156,
  'orange': #fea245,
  'pink': #fb9cf0,
  'purple': #9e8ef0,
  'violet': #b771f4,
  'red': #d14949,
  'teal': #34ac9e,
  'yellow': #ffd700,
  'white': #ffffff,
  'black': #222222,
  'brown': #875131,
  'lime': #1fda1f,
);

$shade-levels: (
  1: 50%,
  2: 40%,
  3: 30%,
  4: 15%,
  5: 0,
  6: -15%,
  7: -30%,
  8: -40%,
  9: -50%,
);

@each $colorName, $colorValue in $colors {
  @each $shadeNumber, $shadeValue in $shade-levels {
    .dev-color-swatch--#{$colorName}-#{$shadeNumber} {
      background-color: get-color($colorName, $shadeNumber);
    }
  }
}

.dev-text-areas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
