.dev-layout {
  background: none;
}

.dev-content {
  width: 100%;
  padding: 1rem;
}

.dev-color-swatch {
  width: 20ch;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

$colors: (
  'blue': #598ffd,
  'gray': #6f7273,
  'green': #49d156,
  'orange': #fea245,
  'pink': #fb9cf0,
  'purple': #9e8ef0,
  'violet': #b771f4,
  'red': #d14949,
  'teal': #34ac9e,
  'yellow': #ffd700,
  'white': #ffffff,
  'black': #222222,
  'brown': #875131,
  'lime': #1fda1f,
);

$shade-levels: (
  1: 50%,
  2: 40%,
  3: 30%,
  4: 15%,
  5: 0,
  6: -15%,
  7: -30%,
  8: -40%,
  9: -50%,
);

@each $colorName, $colorValue in $colors {
  @each $shadeNumber, $shadeValue in $shade-levels {
    .dev-color-swatch--#{$colorName}-#{$shadeNumber} {
      background-color: get-color($colorName, $shadeNumber);
    }
  }
}

.dev-text-areas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dev-header {
  font-feature-settings: 'tnum';
  background-color: #fff;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  margin: 0;
  padding: 16px 24px;
  position: relative;

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    align-items: center;
    display: flex;
    margin: 4px 0;
    overflow: hidden;
  }

  &__title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__subtitle {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.5715;
    margin-right: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__extra {
    margin: 4px 0;
    white-space: nowrap;
  }
}
