.rules {
  border: 1px solid white;
  border-radius: get-unit(1);
  margin: get-unit(4);
  padding: get-unit(4);

  &__carousel {
    background: rgba($color: #000000, $alpha: 0.2);
  }

  &__rule .rules-carousel__rule-text {
    color: white;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: get-unit(3);
    padding: get-unit(4);
    background: rgba($color: #000000, $alpha: 0.2);
  }

  &__rule-actions-ready {
    background: green;
    font-style: italic;
  }
}
