.phase-container {
  border: 1px solid get-color(white);
  border-radius: get-unit(1);
  margin: get-unit(4);
  padding: get-unit(4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}
