.showcase-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.showcase-entry {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  & > .ant-image {
    display: block;
  }

  &--title {
    background-color: get-color('white');
    font-size: 1.5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.showcase-title {
  padding: 0;
  margin: 0;
  line-height: 1.75rem;

  text-transform: uppercase;
}

.showcase-popular-name {
  background-color: rgba(white, 0.5);
  width: 100%;
  display: block;
  position: absolute;
  bottom: get-unit(1);
  left: 0;
  right: 0;
  font-size: 0.8rem;
}

.showcase-menu {
  margin: 0;
  padding: 0;
}

.showcase-image {
  margin: 0;
  padding: 0;
}

.showcase-filter-section {
  font-weight: bold;
  margin-bottom: get-unit(2);
}

.showcase-filter-entry {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: get-unit(2);

  &:nth-child(even) {
    background-color: get-color('gray', 1);
  }
}

.showcase-image-button {
  border: none;
  margin: 0;
  display: inline-block;
  padding: 0;
}

.three-way-toggle {
  background-color: red;
  width: 14ch;

  input {
    display: none;
  }

  label {
    width: 4ch;
    display: inline-block;
    background-color: orange;
    text-align: center;
    border-radius: 2ch;
  }
}
